<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Employee Education </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee Education Detail </h5>
            <div class="row">
                <div class="col-lg-12">
                    <form class="" [formGroup]="disciplinaryCaseForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">

                                <div class="col-md-4">
                                    <div class="form-floating"> <input type="text" class="form-control" id="institution"
                                            placeholder="institution" required formControlName="institution">
                                        <label for="institution"> Institution</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="educationalLevelId"
                                            formControlName="educationalLevelId" aria-label="State">

                                            <option></option>
                                            <option value="c5119de9-5451-435b-9920-dc618980c7c9">Level 1</option>
                                            <option value="c5119de9-5451-435b-9920-dc618980c7c9">Level 2 </option>


                                        </select>
                                        <label for="educationalLevelId">Educational Level</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="educationalFieldId"
                                            formControlName="educationalFieldId" aria-label="State">

                                            <option></option>
                                            <option value="c5119de9-5451-435b-9920-dc618980c7b9">Field 1</option>
                                            <option value="c5119de9-5451-435b-9920-dc618980c7b9">Field 2 </option>


                                        </select>
                                        <label for="educationalFieldId">Educational Field</label>
                                    </div>
                                </div>




                                <div class="col-md-6">
                                    <div class="form-floating"> <input type="date" class="form-control" id="fromDate"
                                            placeholder="fromDate" required formControlName="fromDate">
                                        <label for="fromDate"> From Date</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating"> <input type="date" class="form-control" id="toDate"
                                            placeholder="toDate" required formControlName="toDate">
                                        <label for="toDate"> To Date</label>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-floating mb-3"><textarea formControlName="remark"
                                            class="form-control" placeholder="Leave a comment here" id="remark"
                                            style="height: 100px;"></textarea><label for="remark">Remark</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                                (click)="closeModal()">Close</button> <button type="button" type="submit"
                                [disabled]="!disciplinaryCaseForm.valid" class="btn btn-outline-primary">Save
                                changes</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>