<main id="main" class="main">

    <div class="iconcontainer" (click)="planId=='00000000-0000-0000-0000-000000000000'?goToTrainingDashboard():   goToActivity()">
        <i class="bi bi-arrow-left-short"></i>
        <div>{{planId=='00000000-0000-0000-0000-000000000000'?'Back to Training Dashboard':'Back to Activity'}}</div>
    </div>

    <div class="p-4">

        <div class="card ">
            <div class="card-header">
            <div class="col-12">

                <div class="text-end">
                    <button class="btn btn-sm btn-outline-warning" (click)="editTraining()"  >
                        <i class="bi bi-pencil"></i>
                      </button> |
                      <button class="btn btn-sm btn-outline-danger" (click)="DeleteTraining()">
                        <i class="bi bi-trash"></i>
                      </button>

                </div>

            </div>

                <h4>Title: <span>{{training&&training.title}}</span></h4>
                <h5>Project: <span>{{training&&training.project}}</span></h5>
                <h5>Allocated CEU: <span>{{training&&training.allocatedCEU}}</span></h5>
                <h5>Duration: <span>{{training&&training.startDate|date:"fullDate"}} -
                        {{training&&training.endDate|date:"fullDate"}}</span></h5>
                <h6>Venue of the training: <span> {{training&&training.courseVenue}} </span></h6>



            </div>
            <section class="section">
                <div class="card mt-2">
                    <div class="card-body">

                        <ul class="nav nav-tabs nav-tabs mt-2" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation"> <button class="nav-link active" id="home-tab"
                                    data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
                                    aria-controls="home" aria-selected="true">Trainers</button></li>
                            <li class="nav-item" role="presentation"> <button class="nav-link" id="home-tab-3"
                                    data-bs-toggle="tab" data-bs-target="#home3" type="button" role="tab"
                                    aria-controls="location" aria-selected="true">Trainees</button></li>
                            <li *ngIf="training&&training.reportStatus=='SUBMITTED'" class="nav-item" role="presentation"> <button class="nav-link" id="location-tab"
                                    data-bs-toggle="tab" data-bs-target="#location" type="button" role="tab"
                                    aria-controls="location" aria-selected="true">Reports</button></li>


                        </ul>
                        <div class="tab-content pt-2" id="myTabContent">
                            <div class="tab-pane fade show active p-2" id="home" role="tabpanel"
                                aria-labelledby="home-tab">
                              <app-trainer-list [Training]="training" [trainingId]="trainingId" />
                            </div>
                            <div class="tab-pane fade   p-2" id="home3" role="tabpanel"
                                aria-labelledby="home-tab-3">
                                <app-trainees-form [traininggId]="trainingId" />
                            </div>
                            <div class="tab-pane fade   p-2" id="location" role="tabpanel"
                                aria-labelledby="location">
                                
                                <app-training-report-form  [traininggId]="trainingId"/>
                            
                            </div>


                        </div>
                    </div>
                </div>

            </section>
        </div>


    </div>


</main>