<main id="main" class="main">
    <div class="pagetitle">
        <h1>Employee Managment</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">HRM</li>
                <li class="breadcrumb-item active">Contract End Employees</li>
            </ol>
        </nav>
    </div>
    <section class="section">

        <div class="card">
            <div class="row p-2">
                
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Lists</h5>

                            <p-table [value]="contractEndEmployees" [paginator]="true" [rows]="10"
                                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-sm">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Remaining Days</th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-contractEnd>
                                    <tr>
                                        <td>{{ contractEnd.fullName }}</td>
                                        <td>{{ contractEnd.startDate | date: 'yyyy, MMMM , dd' }}</td>
                                        <td>{{ contractEnd.endDate | date: 'yyyy, MMMM , dd' }}</td>
                                        <td>{{ contractEnd.remainingDays }}</td>
                                        <td>
                                            <div class="filter" >
                                                <a class="icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-three-dots-vertical"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                   <li><a class="dropdown-item" (click)="terminateContract(contractEnd.employeeId)"> Terminate Contract</a></li>
                                                   <li><a class="dropdown-item" (click)="extendContract(contractEnd.employeeId)"> Extend Contract</a></li>
                                                </ul>
                                             </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>