<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{MembershipType?"Update":"Add"}} Membership Type</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <form class="" [formGroup]="MembershipTypeForm" (ngSubmit)="MembershipType?update():submit()">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="name" id="floatingInput" />
                            <label for="floatingInput">Membership Type Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="shortCode" id="floatingInput" />
                            <label for="floatingInput">Short Code</label>
                        </div>
                    </div>

                   

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" formControlName="years" id="floatingInput" />
                            <label for="floatingInput">For How Many Years</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" formControlName="money" id="floatingInput" />
                            <label for="floatingInput">Money </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">

                            <select class="form-control" formControlName="currency">
                                <option></option>
                                <option value="ETB">ETB</option>
                                <option value="USD">USD</option>
                            </select>
                            <label for="floatingInput">Currency </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">

                            <select class="form-control" formControlName="category">
                                <option></option>
                                <option value="Midwife">Midwife</option>
                                <option value="NonMidwife">NON-Midwife</option>
                                <option value="Institute">Institute</option>
            
                            </select>
                            <label for="floatingInput">Type </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="description" style="height: 100px;">
                            </textarea>
                            <label for="floatingInput">Desctiption </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                        (click)="closeModal()">Close</button> <button type="button" type="submit"
                        [disabled]="!MembershipTypeForm.valid"
                        class="btn btn-outline-success">{{MembershipType?"Update":"Create"}}</button></div>
            </form>
        </div>
    </div>

</div>