<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{GeneralInterface?"Update":"Add"}} GeneralInterface Option</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <form class="" [formGroup]="GeneralInterfaceForm" (ngSubmit)="GeneralInterface?update():submit()">

                <div class="row">
                    

                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" formControlName="recordno" id="floatingInput" />
                            <label for="floatingInput">recordno</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="objectNameEN" id="floatingInput" />
                            <label for="floatingInput">objectNameEN</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="objectNameLocalen" id="floatingInput" />
                            <label for="floatingInput">objectNameLocalen</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="objectNameLocalam" id="floatingInput" />
                            <label for="floatingInput">objectNameLocalam</label>
                        </div>
                    </div>

                   
                </div>

            <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                (click)="closeModal()">Close</button> <button type="button" type="submit"
                [disabled]="!GeneralInterfaceForm.valid"   
                class="btn btn-outline-success">{{GeneralInterface?"Update":"Create"}}</button></div>
            </form>
    </div>
</div>

</div>