<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{SCReason?"Update":"Add"}} SCS Reason</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <form class="" [formGroup]="SCReasonForm" (ngSubmit)="SCReason?update():submit()">

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="reason" id="floatingInput" />
                            <label for="floatingInput">Reson</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                          <select  class="form-control" formControlName="reasonType" id="floatingInput" >
                            <option>Select Reason Type</option>
                                <option *ngFor="let item of Reasons" [value]="item.value">{{item.name}}</option>
                            </select>
                            <label for="floatingInput">Reason Type</label>
                        </div>
                    </div>
                </div>

            <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                (click)="closeModal()">Close</button> <button type="button" type="submit"
                [disabled]="!SCReasonForm.valid"   
                class="btn btn-outline-success">{{SCReason?"Update":"Create"}}</button></div>
            </form>
    </div>
</div>

</div>