<header id="header" class="header fixed-top d-flex align-items-center">
   <div class="d-flex align-items-center justify-content-between">
      <a routerLink="/dashboard" class="logo d-flex align-items-center ">
         <img src="assets/logo2.png" alt=""> <span class="d-none d-lg-block text-center"
            style="font-size: 18px!important;">Ethiopian Midwives Association</span> </a> <i (click)="sidebarToggle()"
         class="bi bi-list toggle-sidebar-btn"></i>
   </div>
   <!-- <div class="search-bar">
       <form class="search-form d-flex align-items-center" method="POST" action="#"> <input type="text" name="query" placeholder="Search" title="Enter search keyword"> <button type="submit" title="Search"><i class="bi bi-search"></i></button></form>
    </div> -->
   <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
         <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i
                  class="bi bi-search"></i> </a></li>
         <li class="nav-item dropdown" *ngIf="roleMatch(['EMPLOYEE-MANAGEMENT'])">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span
                  class="badge bg-primary badge-number">{{contactEndEMployees&&contactEndEMployees.length}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" style=" width: 260px;  max-height:400px;overflow-x: scroll;">
               <li class="dropdown-header"> You have {{contactEndEMployees&&contactEndEMployees.length}} Contract Expiration </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <div *ngFor="let item of contactEndEMployees">

             
               <li class="notification-item" (click)="navigateToempDetail(item.id)" >
                   <i class="bi bi-exclamation-circle text-warning"></i>
                  <div>
                     <h4>{{item.name}}</h4>
                     <p>{{item.reason}}</p>
                     <!-- <p>30 min. ago</p> -->
                  </div>
                 
               </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
            </div>
           
            </ul>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-megaphone" style="font-size: 22px;"></i> <span
                  class="badge bg-success badge-number">{{vacancies&&vacancies.length}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style=" width: 260px;  max-height:400px;overflow-x: scroll;">
               <li class="dropdown-header"> You have {{vacancies&&vacancies.length}} Vacancies </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <div  *ngFor="let item of vacancies">
                  <li class="message-item">
                     <a (click)="navigateToDetail(item.id)">
   
                        <div>
                           <h4>{{item.name}}</h4>
                           <p>{{item.description}}</p>
   
                        </div>
                     </a>
                    
                  </li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>

               </div>
         


            </ul>
         </li>
         <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img
                  [src]="createImagePath(user.photo)" alt="Profile" class="rounded-circle"> <span
                  class="d-none d-md-block dropdown-toggle ps-2">{{this.user.fullName}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
               style="max-height:400px;overflow-x: scroll;">
               <li class="dropdown-header">
                  <h6>{{this.user.fullName}}</h6>
                  <!-- <span>{{this.user.role}}</span> -->
               </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li> <a class="dropdown-item d-flex align-items-center" routerLink="/user-profile"> <i
                        class="bi bi-person"></i> <span>My Profile</span> </a></li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li> <a class="dropdown-item d-flex align-items-center " style="cursor: pointer;" (click)="logOut()"> <i
                        class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </a>
               </li>
            </ul>
         </li>
      </ul>
   </nav>
</header>