<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item" *ngIf="roleMatch(['Admin'])" > <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item" *ngIf="roleMatch(['Admin'])"  >
          <a class="nav-link collapse" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide" ></i><span>HR Management</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav" >
            <li> <a routerLink="/HRM/configuration" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Configuration</span> </a></li>           
             <li> <a routerLink="/HRM/employeeMangment" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Employee Managment</span> </a></li>

             <li> <a routerLink="/HRM/employeeTermination" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Employee Termination</span> </a></li>

            

             <li> <a routerLink="/HRM/vacancyList" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Vacancy List</span> </a></li>
             <li> <a routerLink="/HRM/leave" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Leave &nbsp;
               <span
                  class="badge bg-success badge-number"> {{leaves&&leaves.length}}</span> </span> </a></li>
             <li> <a routerLink="/HRM/employeesupervisor" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Employee Supervisor</span> </a></li>
             <li> <a routerLink="/HRM/employeeperformance" routerLinkActive="active"> <i class="bi bi-circle"></i><span>Performance Management</span> </a></li>
          </ul>
       </li>

       <li class="nav-item" *ngIf="roleMatch(['Admin'])" > 
         <a class="nav-link " routerLink="/configuration" routerLinkActive="active"> <i class="bi bi-tools"></i> <span>Configuration</span> </a></li>
    

         <li class="nav-item" *ngIf="roleMatch(['Admin'])" > 
            <a class="nav-link " routerLink="/user_managment" routerLinkActive="active"> <i class="bi bi-person-plus"></i> <span>User Management </span> </a></li>
       
     
   </ul>
 </aside>