<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{FiscalMonth?"Update":"Add"}} Update Fiscal Month</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- <form class="" [formGroup]="FiscalMonthForm" (ngSubmit)="FiscalMonth?update():submit()"> -->
                <form class="" [formGroup]="FiscalMonthForm"(ngSubmit)="FiscalMonth?update():''">

                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="monthnameEn" id="floatingInput" />
                            <label for="floatingInput">Fiscal Month(Eng)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="monthnamelocal" id="floatingInput" />
                            <label for="floatingInput">Fiscal Month(Local)</label>
                        </div>
                    </div>

               
                </div>

            <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                (click)="closeModal()">Close</button> <button type="button" type="submit"
                [disabled]="!FiscalMonthForm.valid"   
                class="btn btn-outline-success">{{FiscalMonth?"Update":"Create"}}</button></div>
            </form>
    </div>
</div>

</div>