<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{planView?'Update':'Add'}} Projects</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Project Detail</h5>

            <div class="row">
                <div [class]="planView?'col-12':'col-lg-8'">
                    <form class="" [formGroup]="planForm" (ngSubmit)="planView?update():submit()">
                        <div class="modal-body">
                            <div class="row g-3">

                                <div class="col-md-9">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="PlanName" placeholder="PlanName"
                                            formControlName="PlanName">
                                        <label for="PlanName">Project Name</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="ProjectNumber"
                                            placeholder="ProjectNumber" formControlName="ProjectNumber">
                                        <label for="ProjectNumber">Project Number</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="StructureId" formControlName="StructureId"
                                            aria-label="State">

                                            <option></option>
                                            <option *ngFor="let s of Structures" value={{s.id.toUpperCase()}}>{{s.name}}
                                            </option>


                                        </select>
                                        <label for="StructureId">Department</label>
                                    </div>
                                </div>



                                <!--  -->
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" [min]="0" id="PlandBudget"
                                            placeholder="PlannedBudget" formControlName="PlandBudget">
                                        <label for="PlandBudget">Planned Budget</label>
                                        <small *ngIf="!planView" style="color: red;">Maximum Budget :
                                            {{fundBudget|number:"1.0-2"}} ETB </small>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <app-autocomplete2 *ngIf="employeeList.length>0&&planView" [data]="employeeList"
                                            [selectedId]="planView.projectManagerId.toLowerCase()"
                                            placeHolder="Project Manager" (selectedItem)="selectEmployeePM2($event)">
                                        </app-autocomplete2>

                                        <app-autocomplete2 *ngIf="employeeList.length>0&&!planView"
                                            [data]="employeeList" placeHolder="Project Manager"
                                            (selectedItem)="selectEmployeePM($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <app-autocomplete2 *ngIf="employeeList.length>0&&planView" [data]="employeeList"
                                            [selectedId]="planView.financeManagerId.toLowerCase()"
                                            placeHolder="Finance Manager" (selectedItem)="selectEmployeeF($event)">
                                        </app-autocomplete2>

                                        <app-autocomplete2 *ngIf="employeeList.length>0&&!planView"
                                            [data]="employeeList" placeHolder="FInance Manager"
                                            (selectedItem)="selectEmployeeF($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>



                                <div class="col-md-4">
                                    <div class="flex flex-column gap-2">
                                        <label htmlFor="startDate">Start Year</label>

                                        <input type="date" formControlName="StartDate" class="form-control" />


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="flex flex-column gap-2">
                                        <label htmlFor="endDate">End Year</label>

                                        <input type="date" formControlName="EndDate" class="form-control" />


                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-check" style="font-size: 30px;"> <input class="form-check-input"
                                            formControlName="HasTask" type="checkbox" id="gridCheck"> <label
                                            class="form-check-label" style="font-size: 28px; font-weight: bold;"
                                            for="gridCheck">Has Task </label></div>
                                </div>
                                <div class="col-8">
                                    <label htmlFor="ProjectSourceFunds">Remark</label>
                                    <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                            placeholder="Address" id="Remark" style="height: 100px;"></textarea>
                                    </div>
                                </div>

                                <div class="col-4">

                                    <label htmlFor="ProjectSourceFunds">Project Source Funds</label>
                                    <select class="form-control" multiple formControlName="SelectedProjectFunds" #budget
                                        (change)="getRemainingBudget()">

                                        <option *ngFor="let item of projectSourceFunds" [value]="item.id.toUpperCase()">
                                            {{item.name}}</option>

                                    </select>

                                </div>

                                <div class="col-6">
                                    <div class="form-floating"><textarea class="form-control" formControlName="Goal"
                                            placeholder="Address" id="Goal" style="height: 100px;"></textarea><label
                                            for="Goal">Goal</label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-floating"><textarea class="form-control"
                                            formControlName="Objective" placeholder="Address" id="Objective"
                                            style="height: 100px;"></textarea><label for="Objective">Objective</label>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                                (click)="closeModal()">Close</button>
                            <button type="button" type="submit" [disabled]="!planForm.valid"
                                [class]="planView?'btn btn-outline-warning':  'btn btn-outline-primary'">

                                {{planView?'Update':'Create'}}




                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4" *ngIf="!planView">
                    <div class="modal-content  ">
                        <div class="modal-header bg-secondary text-white">
                            <h5 class="modal-title">Tips</h5>

                        </div>

                        <div class="modal-body" style="color:#012970b8">


                            <!-- <div>{{program.ProgramBudgetYear!}}</div>  -->
                            <span> Project Manager : {{ProjectManagerId && ProjectManagerId.name}}</span> <br />
                            <span> Finance Manager : {{financeManagerId && financeManagerId.name}}</span> <br />
                            <span> Planned Budget : {{fundBudget|number:"1.0-2"}} ETB</span> <br />



                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>

</div>