<div class="row">
    <div class="col-xl-4 col-md-6">
      <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
        <span class="round small"></span>
        <span class="round big"></span>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="text-white d-block fs-1 fw-bold my-2">{{accountPeriod&&accountPeriod.fiscalYear}} </span>
              <p class="mb-0 opacity-50 text-left">Fiscal Year</p>
  
            </div>
            <div class="col-auto">
              <div class="avtar">
                <i class="text-white ti ti-calendar"></i>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card bg-primary-dark dashnum-card text-white overflow-hidden">
        <span class="round small"></span>
        <span class="round big"></span>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="avtar">
                <i class="text-white ti ti-calendar"></i>
              </div>
            </div>
            <div class="col-auto">
              <span class="text-white d-block fs-1 fw-bold my-2">{{monthName}} </span>
              <p class="mb-0 opacity-50 text-end">Fiscal Month</p>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
  
  
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb- align-items-center">
            <div class="col">
              <h4 class="text-center text-muted">
                Office Name & Address
              </h4>
            </div>
            <div class="col-auto">
              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
      
                    <div class="col-auto">
                      <h5 class="mb-0">
                        DAFTech Computer Engineering
                      </h5>
      
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
      
                    <div class="col-auto">
                      <h5 class="mb-0 opacity-50">
                        Urael, Casanchiz Addis Ababa
                      </h5>
      
                    </div>
                  </div>
                </li>
              </ul> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 ">
  
  </div>
  
  
  

