.iconcontainer {
    font-size: 20px;
    color: #8b9dbe;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .iconcontainer i {
    margin-right: 10px;
  
  
  }