<main id="main" class="main">
    <div class="pagetitle">
        <h1>Approve Purchase Request</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Inventory</li>
                <li class="breadcrumb-item active">Approve Purchase</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="requestItems" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['requesterEmployee','itemCode','itemName']" [rows]="10" [paginator]="true"
             [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" 
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedItems" 
             selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="dt.exportCSV()" class="p-button-success mr-2"  pTooltip="CSV" tooltipPosition="bottom"></button> &nbsp;
                        <button pButton pRipple label="Approve" icon="pi pi-check" class="p-button-success mr-2" (click)="approvePopup()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-requests>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="requests"></p-tableCheckbox>
                        </td>
                        <td>
                            {{requests.itemCode}}
                        </td>
                        <td>
                            {{requests.requesterEmployee}}
                        </td>
                        <td>
                            {{requests.itemName}}
                        </td>
                        <td>
                            {{requests.measurementUnitName}}
                        </td>
                        <td>
                            {{requests.quantity}}
                        </td>
                        <td>
                            {{requests.singlePrice}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="approveProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to Approve selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="approveProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmApporveSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</main>