<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Employment History </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employment History Detail </h5>
            <div class="row">
                <div class="col-lg-12">
                    <form class="" [formGroup]="HistoryForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="Departments" formControlName="departmentId"
                                            aria-label="State">
    
                                            <option></option>
                                            <option *ngFor="let department of departments" [value]="department.id">{{
                                                department.name }}</option>
                                        </select>
                                        <label for="Departments">Departments</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="positionId" formControlName="positionId"
                                            aria-label="State">
    
                                            <option></option>
                                            <option *ngFor="let position of positions" [value]="position.id">{{
                                                position.name }}</option>
                                        </select>
                                        <label for="positionId">Positions</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="SourceOfSalary" formControlName="sourceOfSalary"
                                            aria-label="State">
    
                                            <option value="PROJECT"> PROJECT </option>
                                            <option value="OTHER"> OTHER</option>
                                            
                                        </select>
                                        <label for="SourceOfSalary">Salary Source</label>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-floating"> <input type="number" class="form-control" id="salary"
                                            placeholder="salary" required formControlName="salary">
                                        <label for="salary"> Salary</label>
                                    </div>
                                </div>

                                
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        
                                        <select pInputText class="form-select" required="" #country
                                            (change)="getRegions(country.value)" aria-label="State">
                                            <option></option>
                                            <option *ngFor="let country of countries" [value]="country.id">{{
                                                country.name }}</option>
                                        </select>
                                        <label for="countryId">Country</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        
                                        <select pInputText class="form-select" #regionId required=""
                                            (change)="getZones(region.value)" #region id="regionId" aria-label="State">
                                            <option></option>
                                            <option *ngFor="let region of regions" [value]="region.id">{{
                                                region.name }}</option>
                                        </select>
                                        <label for="countryId">Region</label>
            
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        
                                        <select pInputText class="form-select" id="zoneId" #zoneId
                                            [class]="zoneId ? 'ng-valid'  :'ng-invalid ng-dirty'" formControlName="zoneId"
                                            aria-label="State">
                                            <option></option>
                                            <option *ngFor="let zone of zones" [value]="zone.id">{{
                                                zone.name }}</option>
                                        </select>
                                        <label for="zoneId"> Zone</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        
                                        <input pInputText class="form-control" formControlName="woreda" id="woreda" required />
                                        <label for="woreda"> Woreda</label>
                                    </div>
                                </div>
                

                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <p-calendar formControlName="startDate"  [required]= "true"
                                        [readonlyInput]="true"  placeholder="Start Date"></p-calendar>
                                      
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating"> 
                                        <p-calendar formControlName="endDate" [minDate]="minDate"
                                        [readonlyInput]="true"  placeholder="End date"></p-calendar>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating"><textarea  class="form-control"
                                            formControlName="remark" placeholder="remark" id="remark"
                                            style="height: 100px;"></textarea><label for="remark">Remark</label>
                                    </div>
                                </div>





                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                            (click)="closeModal()">Close</button> <button type="button" type="submit"
                            [disabled]="!HistoryForm.valid" class="btn btn-outline-primary">Save
                            changes</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>