<main [attr.id]="!paymentDetailList ? 'main' : null" class="main">

    <div class="iconcontainer" *ngIf="!paymentDetailList" (click)="goToJV()">
        <i class="bi bi-arrow-left-short"></i>
        <div>Back To Journal Voucher</div>
    </div>
    

    <div >

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Journal</h5>
                <div *ngIf="paymentDetailList" >
                    
                    <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
                </div>
                <!-- <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button> -->
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <form class="" #jvForm="ngForm" (ngSubmit)="submit()">
                                <div class="row gap-2">
                                    <div class="col-md-3">
                                        <div class="card mt-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 mb-2">
                                                        <div class="form-floating">
                                                            <input type="date" class="form-control" id="date" name="date"
                                                                [(ngModel)]="addJournal.date">
                                                            <label for="paymentDate">Date</label>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="paymentDetailList" class="col-md-12 mb-2">
                                                        <div class="form-floating">
                                                            <select class="form-control" formControlName="taxEntityType">
                                                                <option *ngFor="let item of taxType" [value]="item.value">{{item.name}}</option>
                                                            </select>
                                                            <label for="taxEntityType">Type</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <textarea class="form-control" placeholder="Remark" name="remark"
                                                            [(ngModel)]="addJournal.description" id="remark" rows="5">
                                                </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Add Details</h5>
                                                <form #itemsForm="ngForm">
                                                    <div class="row p-2 mb-2">

                                                        <div class="col-md-3">
                                                            <label class="col-md-12" htmlFor="lastname2">Chart Of
                                                                Account</label>
                                                            <select class="form-control"
                                                                [(ngModel)]="addJournalDetails.chartOfAccountId"
                                                                id="chartOfAccountId"
                                                                (change)="getSubsidaryAccount($event.target)" required
                                                                name="chartOfAccountId">
                                                                <option></option>
                                                                <option *ngFor="let it of chartOfAccountDropDown"
                                                                    [value]="it.id">{{it.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="col-md-12" htmlFor="lastname2">Subsidary
                                                                Account</label>
                                                            <select class="form-control"
                                                                [(ngModel)]="addJournalDetails.subsidiaryAccountId"
                                                                id="subsidiaryAccountId" name="subsidiaryAccountId">
                                                                <option></option>
                                                                <option *ngFor="let it of subsidaryAccount"
                                                                    [value]="it.id">{{it.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label htmlFor="lastname2">Debit</label>
                                                            <input class="form-control" type="number" min="0"
                                                                name="debit" [(ngModel)]="addJournalDetails.debit">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label htmlFor="lastname2">Credit</label>
                                                            <input class="form-control" type="number" min="0"
                                                                name="credit" [(ngModel)]="addJournalDetails.credit">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label htmlFor="lastname2">Remark</label>
                                                            <input class="form-control" type="text"
                                                                name="credit" [(ngModel)]="addJournalDetails.remark">
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label></label><br />
                                                            <button pButton type="button" icon="pi pi-plus"
                                                                [disabled]="!itemsForm.valid"
                                                                class="ui-button-info btn-sm"
                                                                (click)="newRow()"></button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <div class="p-fluid p-formgrid grid">
                                                    <p-table #dt [value]="journalDetailList" responsiveLayout="scroll" >
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th>Chart Of Account</th>
                                                                <th>Subsidary Account</th>
                                                                <th>Debit</th>
                                                                <th>Credit</th>
                                                                <th>Remark</th>
                                                                <th style="width:8em"></th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-jvDetail let-rowIndex="rowIndex">
                                                            <tr>
                                                                <td>
                                                                    {{jvDetail.chartOfAccount}}
                                                                </td>
                                                                <td>
                                                                    {{jvDetail.subsidaryAccount}}
                                                                </td>
                                                                <td>
                                                                    {{jvDetail.debit}}
                                                                </td>
                                                                <td>
                                                                    {{jvDetail.credit}}
                                                                </td>
                                                                <td>
                                                                    {{jvDetail.remark}}
                                                                </td>
                                                                <td style="text-align:center">
                                                                    <button pButton type="button" icon="pi pi-times"
                                                                        class="ui-button-danger"
                                                                        (click)="removeData(rowIndex)"></button>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <button type="button" class="btn btn-outline-secondary"
                                        (click)="closeModal()">Close</button> -->
                                            <button type="button" type="submit" [disabled]="!jvForm.valid"
                                                class="btn btn-outline-primary">
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>