<div class="row">
 
  <!-- [ sample-page ] start -->
  <div class="col-xl-4 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-users"></i>
            </div>
          </div>
          <div class="col-auto">


          </div>
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{dashboardDetail&&dashboardDetail.totalCustomers}} <i
            class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <p class="mb-0 opacity-50">Total Customers</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card bg-primary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-location"></i>
            </div>
          </div>
          <div class="col-auto">

          </div>
          <span class="text-white d-block fs-1 fw-bold my-2">{{dashboardDetail&&dashboardDetail.gpsEncoded}} <i
              class="ti ti-arrow-up-right-circle opacity-50"></i></span>
          <p class="mb-0 opacity-50">GPS Encoded</p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card bg-light-success dashnum-card dashnum-card-small text-white overflow-hidden">
      <span class="round bg-success small"></span>
      <span class="round bg-success big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-white">
            <i class="text-success ti ti-check"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-success mb-1">{{dashboardDetail&&dashboardDetail.readed}} <i
                class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm text-success">Collected</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light-danger dashnum-card dashnum-card-small overflow-hidden">
      <span class="round bg-warning small"></span>
      <span class="round bg-warning big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-white">
            <i class="text-danger ti ti-flag"></i>
          </div>
          <div class="ms-2">
            <h4 class="mb-1">{{dashboardDetail&&dashboardDetail.pending}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Pending</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>
              Customer Data Status
            </h4>
          </div>
          <div class="col-auto"> </div>
        </div>

        <div id="growthChart2">
          <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
            [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"
            [responsive]="chartOptions2.responsive" [xaxis]="chartOptions2.xaxis" [colors]="chartOptions2.colors"
            [grid]="chartOptions2.grid" [tooltip]="chartOptions2.tooltip"></apx-chart>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>

              

            </h4>
          </div>
          <div class="col-auto"> </div>
        </div>
        <div id="chart">
          <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart" [labels]="chartOptions5.labels"
            [responsive]="chartOptions5.responsive"></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>

              Reading Type Ratio

            </h4>
          </div>
          <div class="col-auto"> </div>
        </div>
        <div id="chart">
          <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [labels]="chartOptions4.labels"
            [responsive]="chartOptions4.responsive"></apx-chart>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <small>Consumption </small>
            <h3>Per Month</h3>
          </div>

          <div id="growthChart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [responsive]="chartOptions.responsive"
              [xaxis]="chartOptions.xaxis"
              [colors]="chartOptions.colors"
              [grid]="chartOptions.grid"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
          </div>
        </div>
       
      </div>
    </div>
  </div>

  <!-- [ sample-page ] end -->
</div>