<main id="main" class="main">
    <div class="pagetitle">
        <h1>Payments</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Finance</li>
                <li class="breadcrumb-item active">Payments</li>

            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="row p-2">
                <div class="col-lg-12 text-end ">
                    <button type="button" class="btn btn-outline-primary" (click)="addPayment()"><i class="bi bi-plus me-1"></i>
                        Add Payments</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Payments List</h5>
                
                                <p-table [value]="pendingPaymentsList"
                                        [paginator]="true"
                                        [rows]="5"
                                        [showCurrentPageReport]="true"
                                        [tableStyle]="{ 'min-width': '50rem' }"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                        [rowsPerPageOptions]="[5, 25, 50]"
                                        styleClass="p-datatable-sm"
                                        dataKey="itemId">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th></th>
                                            <th>Accounting Period</th>
                                            <th>Payment Number</th>
                                            <th>Payment Type</th>
                                            <th>Payment Date</th>
                                            <th>Bank</th>
                                            <th>Supplier</th>
                                            <th>Document Path</th>
                                            <th>Remark</th>
                                            
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-payment let-expanded="expanded">
                                        <tr>
                                            <td>
                                                <button type="button" pButton pRipple [pRowToggler]="payment"
                                                    class="p-button-text p-button-rounded p-button-plain"
                                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                            </td>
                                            <td style="min-width: 12rem;">{{payment.accountingPeriod}}</td>
                                            <td style="min-width: 10rem;">{{payment.paymentNumber}}</td>
                                            <td style="min-width: 10rem;">{{payment.paymentType}}</td>
                                            <td style="min-width: 10rem;">{{payment.paymentDate}}</td>
                                            <td style="min-width: 10rem;">{{payment.bank}}</td>
                                            <td style="min-width: 10rem;">{{payment.supplier}}</td>
                                            <td style="min-width: 10rem;">{{payment.documentPath}}</td>
                                            <td style="min-width: 10rem;">{{payment.remark}}</td>
                                            
                                            
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-payment>
                                        <tr>
                                            <td colspan="10">
                                                <div class="p-3">
                                                    <div class="col-lg-12 text-end ">
                                                        <button type="button" class="btn btn-outline-primary" (click)="approvePayment(payment.id, payment.paymentNumber, payment.paymentType, payment.payment.paymentDate,payment.bank,payment.supplier,payment.remark)"><i class="bi bi-check me-1"></i>
                                                            Approve Payments</button>
                                                    </div>
                                                    
                                                    <p-table [value]="payment.paymentDetailLists" dataKey="id" responsiveLayout="scroll">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th>Item</th>
                                                                <th>Chart Of Account</th>
                                                                <th>Description</th>
                                                                <th>Quantity</th>
                                                                <th>Price</th>
                                                                <th>Total Price</th>
                                                                <th>Remark</th>
                                                                                                                            
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-payDetail>
                                                            <tr>
                                                                <td>{{payDetail.item}}</td>
                                                                <td>{{payDetail.chartOfAccount}}</td>
                                                                <td>{{payDetail.description}}</td>
                                                                <td>{{payDetail.quantity}}</td>
                                                                <td>{{payDetail.price}}</td>
                                                                <td>{{payDetail.totalPrice}}</td>
                                                                <td>{{payDetail.remark}}</td>
                                                                
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="emptymessage">
                                                            <tr>
                                                                <td colspan="4">There are no Payment Details for this Payment yet.</td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>