<div class="card-body p-4">
    <div class="row">
        <div class="col-4">
            <h4>Officers </h4>
            <div class="row" style="            
    border: 1px solid #e1d8f1;
border-radius: 10px;
padding: 20px;margin-bottom: 10px;">

                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Meter Reader</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Bill Officers</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Bill Collector</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Online Sale Officer</label>
                    </div>
                </div>




            </div>
            <h4>Ready Default Value </h4>
            <div class="row" style="            
    border: 1px solid #e1d8f1;
border-radius: 10px;
padding: 20px;margin-bottom: 10px;">

                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Reading</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Generate</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Print</label>
                    </div>
                </div>
            
                



            </div>
        </div>
        <div class="col-4">
            <h4>Analysis Sheet </h4>
            <div class="row">

                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Paper Size</label>
                    </div>
                </div>
                <h4>Include Coast</h4>

                <div class="row px-4 mb-3">




                    <div class="col-md-12  mt-2 form-group form-check">

                        <input type="checkbox" class="form-check-input" for id="servicecharge">
                        <label for="servicecharge">Service Charge</label>


                    </div>
                    <div class="col-md-12  mt-2 form-group form-check">
                        <input type="checkbox" class="form-check-input" for id="sewarage">
                        <label for="sewarage">Sewarage Disposal</label>
                    </div>
                    <div class="col-md-12  mt-2 form-group form-check">
                        <input type="checkbox" class="form-check-input" for id="misc">
                        <label for="misc">Misc Coast</label>
                    </div>
                </div>

            </div>
            <h4>Service Charge Name </h4>
            <div class="row">

                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Name in English</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">

                    <select class="form-control" >
                        <option value="NO">No</option>
                        <option value="YESBYKEBELE">YES BY KEBELE</option>
                        <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                        <option value="YESBYOFFICE">YES BY OFFICE</option>
                    </select>
                    <label for="floatingInput">App Tab Font</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">

                    <select class="form-control" >
                        <option value="NO">No</option>
                        <option value="YESBYKEBELE">YES BY KEBELE</option>
                        <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                        <option value="YESBYOFFICE">YES BY OFFICE</option>
                    </select>
                    <label for="floatingInput">Tariff Calculator</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">

                    <select class="form-control" >
                        <option value="NO">No</option>
                        <option value="YESBYKEBELE">YES BY KEBELE</option>
                        <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                        <option value="YESBYOFFICE">YES BY OFFICE</option>
                    </select>
                    <label for="floatingInput">Block Type</label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <div class="form-floating mb-3">

                    <select class="form-control" >
                        <option value="NO">No</option>
                        <option value="YESBYKEBELE">YES BY KEBELE</option>
                        <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                        <option value="YESBYOFFICE">YES BY OFFICE</option>
                    </select>
                    <label for="floatingInput">Process Data</label>
                </div>
            </div>
            <h4>Printer Setting Default </h4>
            <div class="row" style="            
            border: 1px solid #e1d8f1;
        border-radius: 10px;
        padding: 20px;margin-bottom: 10px;">

                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Report Template</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Print As</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="file" class="form-control">
                        <label for="floatingInput">Logo</label>
                    </div>
                </div>
            </div>

            <h4>Ready Default Value </h4>
            <div class="row" style="            
    border: 1px solid #e1d8f1;
border-radius: 10px;
padding: 20px;margin-bottom: 10px;">

              
               
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Sold / Unsold</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">

                        <select class="form-control" >
                            <option value="NO">No</option>
                            <option value="YESBYKEBELE">YES BY KEBELE</option>
                            <option value="YESBYCATEGORY">YES BY CATEGORY</option>
                            <option value="YESBYOFFICE">YES BY OFFICE</option>
                        </select>
                        <label for="floatingInput">Transfer</label>
                    </div>
                </div>




            </div>
        </div>
        <hr/>
        <div class="col-lg-12 text-end p-2">
            <button type="button" class="btn btn-outline-success">
                OK</button>
        </div>

    </div>
</div>