<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add LeaveType</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">LeaveType Detail</h5>
            <div class="row">
                <div class="col-lg-12">
                    <form class="" [formGroup]="LeaveTypeForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="name"
                                            formControlName="name">
                                        <label for="name">Leave Type Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="leaveCategory" formControlName="leaveCategory"
                                            aria-label="State">
    
                                            <option></option>
                                            <option value="ANNUAL">ANNUAL</option>
                                            <option value="UNPAID">UNPAID</option>
                                            <option value="OTHER">OTHER</option>
                                        </select>
                                        <label for="leaveCategory">Leave Category</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="minDate" placeholder="minDate"
                                            formControlName="minDate">
                                        <label for="minDate">Min Date</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="maxDate" placeholder="maxDate"
                                            formControlName="maxDate">
                                        <label for="maxDate">Max Date</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="incrementValue" placeholder="incrementValue"
                                            formControlName="incrementValue">
                                        <label for="incrementValue">Increment Value</label>
                                    </div>
                                </div>
                                                                                       
                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                            (click)="closeModal()">Close</button>
                        <button type="button" type="submit"  [disabled]="!LeaveTypeForm.valid"
                            class="btn btn-outline-primary">Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>