<div class="card-body ">
    <div class="col-lg-12 text-end p-2">
        <button type="button" class="btn btn-outline-success" (click)="addKetena()"><i class="pi pi-plus me-1" 
                style="font-size: 12px;"></i>
            Ketena</button>
    </div>


    <table class="custom-table">
        <thead>
            <tr>
              
                <th>Ketena Code</th>
                <th>Ketena Name </th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedKetena;let i = index">
               
                <td>{{item.ketenaCode}}</td>
                <td>{{item.ketenaName}}</td>
                <td>
                    <button type="button" 
                    (click)="updateKetena(item)"
                    
                    class="btn btn-outline-warning btn-sm"><i class="ti ti-pencil"></i></button> |
                    <button type="button" 
                    (click)="removeKetena(item.ketenaCode)"
                    class="btn btn-outline-danger btn-sm"><i class="ti ti-trash"></i></button>


                </td>

            </tr>
        
        </tbody>
    </table>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" 
        [totalRecords]="Ketenas&&Ketenas.length" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
    </div>
</div>