<main id="main" class="main">
    <div class="pagetitle">
        <h1>Received Items</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Inventory</li>
                <li class="breadcrumb-item active">Received Items</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table [value]="receivedItems" dataKey="name" [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Item Name</th>
                        <th>Issued Quantity</th>
                        <th>Remaining Quantity</th>
                        <th>Measurement Unit</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-requests let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="requests"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            {{requests.itemName}}
                        </td>
                        <td>
                            {{requests.issuedQuantity}}
                        </td>
                        <td>
                            {{requests.remainingQuantity}}
                        </td>
                        <td>
                            {{requests.measurementUnit}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-requests>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="requests.employeeRecivedProducts" dataKey="id">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Product Detail Name</th>
                        <th>Tag Number</th>
                        <th>Serial Number</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employeeRecivedProducts>
                    <tr>
                        <td>{{ employeeRecivedProducts.productDetailName }}</td>
                        <td>{{ employeeRecivedProducts.tagNumber }}</td>
                        <td>{{ employeeRecivedProducts.serialNumber }}</td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
        </div>

        <p-dialog [(visible)]="confirmDialog" [style]="{width: '450px'}" header="Adjust Received Items" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label htmlFor="usedQuantity">Used Quantity</label>
                    <input pInputText id="usedQuantity" [(ngModel)]="adjustReceivedItems.usedQuantity" name="usedQuantity" type="number" min="1" />
                </div>
                <div class="field">
                    <label htmlFor="usedItemStatus">Status </label>
                    <p-dropdown [options]="usedItemStatus" [(ngModel)]="adjustReceivedItems.usedItemStatus" optionValue="value" optionLabel="name" placeholder="Select Status" [showClear]="true"></p-dropdown>
                </div>
                <div class="field">
                    <label htmlFor="remark">Remark </label>
                    <textarea pInputText  [(ngModel)]="adjustReceivedItems.remark" name="remainingQuantity"  id="remainingQuantity" >
                    </textarea>
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="saveAdjustment()"></button>
            </ng-template>
        </p-dialog>
    </div>
</main>
