<main id="main" class="main">
    <div class="pagetitle">
        <h1>Received Items</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Inventory</li>
                <li class="breadcrumb-item active">Received Items</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="receivedItems"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['itemName','measurementUnit']" [rows]="10" [paginator]="true"
            [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            selectionMode="multiple" [rowHover]="true" dataKey="id">
               <ng-template pTemplate="caption">
                   <div class="flex">
                     
                   </div>
               </ng-template>
               <ng-template pTemplate="header">
                   <tr>
                       <th>Item Name</th>
                       <th>Issued Quantity</th>
                       <th>Remaining Quantity</th>
                       <th>Measurement Unit</th>
                       <th></th>
                   </tr>
               </ng-template>
               <ng-template pTemplate="body" let-requests>
                   <tr>
                       <td>
                           {{requests.itemName}}
                       </td>
                       <td>
                           {{requests.issuedQuantity}}
                       </td>
                       <td>
                           {{requests.remainingQuantity}}
                       </td>
                       <td>
                           {{requests.measurementUnit}}
                       </td>
                       <td>
                           <button (click)="ConfirmAdjust(requests.id)" pButton icon="pi pi-check" label="Adjust Items"></button>
                       </td>
                   </tr>
               </ng-template>
           </p-table>
        </div>

        <p-dialog [(visible)]="confirmDialog" [style]="{width: '450px'}" header="Adjust Received Items" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label htmlFor="usedQuantity">Used Quantity</label>
                    <input pInputText id="usedQuantity" [(ngModel)]="adjustReceivedItems.usedQuantity" name="usedQuantity" type="number" min="1" />
                </div>
                <div class="field">
                    <label htmlFor="usedItemStatus">Status </label>
                    <p-dropdown [options]="usedItemStatus" [(ngModel)]="adjustReceivedItems.usedItemStatus" optionValue="value" optionLabel="name" placeholder="Select Status" [showClear]="true"></p-dropdown>
                </div>
                <div class="field">
                    <label htmlFor="remark">Remark </label>
                    <textarea pInputText  [(ngModel)]="adjustReceivedItems.remark" name="remainingQuantity"  id="remainingQuantity" >
                    </textarea>
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="saveAdjustment()"></button>
            </ng-template>
        </p-dialog>
    </div>
</main>
