<div class="auth-main">
    <div class="row">
        <div class="auth-form col-md-8 col-12" style="background-color: white; padding: 20px;">
            <div class="card">
                <div class="card-body">
                    <div class="auth-header text-center">
                        <h2>{{member && member.fullName.toUpperCase()}} <b>( {{member && member.memberId}} )</b></h2>
                        <h4 class="text-center">Your Membership Type on <span class="text-success">{{member && member.membershipType}}</span> Status has expired</h4>
                        <h4 class="text-center"> <span style="color: red;">{{ member && member.expiredDate | date:"dd MMM YYY"}}</span> on Please renew to login !!! </h4>
                        <hr />
                    </div>
                    <form [formGroup]="completeProfileForm">
                        <div class="row mt-2">
                            <div class="col-md-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" disabled [value]="member && member.fullName" id="fullName" />
                                    <label for="fullName">Full Name </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" disabled readonly [value]="member && member.phoneNumber" id="phoneNumber" />
                                    <label for="phoneNumber">Phone Number </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" disabled readonly [value]="member && member.memberId" id="memberId" />
                                    <label for="memberId">MemberId </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-control" #type (change)="getMembershipTypes(type.value)">
                                        <option></option>
                                        <option value="Midwife">Midwife</option>
                                        <option value="NonMidwife">NON-Midwife</option>
                                        <option value="Institute">INSTITUTE</option>
                                    </select>
                                    <label for="fullName">Membership Category</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-control" #membership (change)="onMembershipSelcted(membership.value)">
                                        <option></option>
                                        <option *ngFor="let item of membershipTypes" [value]="item.id + '/' + item.amount">{{item.name}}</option>
                                    </select>
                                    <label for="fullName">Membership Type</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" disabled readonly [value]="member && member.birthDate | date:'dd MMM yyyy'" id="phoneNumber" />
                                    <label for="phoneNumber">Birth Date </label>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <button [disabled]="!selectedMembership && !selectedAmount" (click)="renewMembership()" class="btn btn-secondary">Renew</button>
                        </div>
                        <hr />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 p-2">
            <div class="member-info text-center">
                <img src="../../../../../assets/logo2.png" alt="Member Image" style="max-height: 150px;" class="img-fluid bounce-image">
                <h2 class="text-secondary mt-2"><b>Ethipian Midwifes Association </b></h2>
                <p class="text-center animated-paragraph">
                    Joining our Midwifes Membership is an <br />
                    excellent opportunity for Midwifes to connect, <br />
                    collaborate, and access valuable resources within our <br />
                    community. By becoming a member, you will gain exclusive  <br />
                    benefits and support tailored specifically to Midwifery professionals.
                </p>
                <div class="d-grid mt-4 p-4">
                    <button type="button" (click)="logout()" class="btn btn-outline-danger">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
