<main id="main" class="main">
    <div class="pagetitle">
        <h1>Users</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <input type="text" #name (input)="searchUsers(name.value)" class="form-control"
                placeholder="Search">

        </div>

        <div class="text-end col-lg-9">
            <button class="btn btn-outline-primary text-end mb-3" (click)="addUser()"> Add
                New User </button>

        </div>

    </div>
    <section class="section profile">
        <div class="row">

            <div class="col-xl-6"
                *ngFor="let user of filteredUserList| paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                <div class="card profile-card ">


                    <div class="row p-2 align-items-center">
                        <div class="col-4  text-center">
                            <img [src]="getPath(user.imagePath)" height="120px"  alt="Profile" class="rounded-circle">
                        </div>
                        <div class="col-8 ">
                            <h6>{{user.userName}} ({{user.email}})</h6>
                            <h2>{{user.name}}</h2>
                            <h3>{{user.department}}( {{user.position}} )</h3>
                            <h6>{{user.phoneNumber}}</h6>

                            <div class="text-end">
                                <a class="btn btn-outline-warning" (click)="updateUser(user)">Roles </a>
                            </div>

                        </div>


                    </div>


                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>


        </div>
    </section>
</main>