<main id="main" class="main">
    <div class="pagetitle">
        <h1>Approve Activity Progress </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Finance</li>
                <li class="breadcrumb-item active">Activity Progress</li>

            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="modal-header">
                <h5 class="modal-title">View Activity Progress</h5>
            </div>

            <div class="card">
                <div class="card-body">
                    <p-accordion [activeIndex]="0">
                        <p-accordionTab [header]="tab.projectName" *ngFor="let tab of progress">
                            <p class="m-0">
                                {{ tab.allocatedBudget }}
                            </p>
                        
                            <p-table [value]="tab.financeActivities" dataKey="activityNumber" [tableStyle]="{ 'min-width': '60rem' }" >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 5rem"></th>
                                        <th>Activity</th>
                                        <th>Allocated Budget</th>
                                        <th>Planned Work</th>
                                        <th>Indicator</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-activity let-expanded="expanded">
                                    <tr>
                                        <td>
                                            <p-button type="button" pRipple [pRowToggler]="activity"  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                        </td>
                                        <td>{{ activity.activityNumber }} - {{activity.activityDescription}}</td>
                                        <td>{{ activity.allocatedBudget | currency : 'ETB' }}</td>
                                        <td>{{ activity.plannedWork }}</td>
                                        <td>{{activity.indicator}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="rowexpansion" let-activity>
                                    <tr>
                                        <td colspan="7">
                                            <div class="p-3">
                                                <p-table [value]="activity.financeWorkedBudgets" dataKey="id">
                                                    <ng-template pTemplate="header">
                                    <tr>
                                        <th>Activity Name</th>
                                        <th >Actual Worked </th>
                                        <th >Used Budget </th>
                                        <th >Document</th>
                                        <th >Remark </th>
                                        <th >Date</th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-worked>
                                    <tr>
                                        <td>{{worked.activity}}</td>
                                        <td>{{ worked.actualWorked }}</td>
                                        <td>{{ worked.usedBudget |  currency : 'ETB' }}</td>
                                        <td> <a *ngIf="worked.financeDocument" target="_blank" class="btn btn-sm btn-secondary"
                                            href={{getFilePath(worked.financeDocument!)}}>View File</a></td>
                                        <td>{{ worked.remark }}</td>
                                        <td>{{ worked.date | date: 'dd/ MMMM / yyyy' }}</td>
                                        <td>
                                            <li style="list-style: none; text-align: right;">
                                                <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown">
                                                    <span class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                                    <li> <a class="dropdown-item d-flex align-items-center"
                                                            style="cursor: pointer;"
                                                            (click)="Approve(worked)"> <i
                                                                class="bi bi-bookmark-check-fill text-success"></i>
                                                            <span>Approve</span> </a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li> <a class="dropdown-item d-flex align-items-center"
                                                            style="cursor: pointer;"
                                                            (click)="ApporveReject(worked.id,userType[2],actionType[1])"> <i
                                                                class="bi bi-bookmark-x-fill text-danger"></i>
                                                            <span>Reject</span>
                                                        </a></li>
                                                    <hr class="dropdown-divider">
                                                </ul>
                                            </li>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no Actual worked data</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            </div>
                            </td>
                            </tr>
                            </ng-template>
                            </p-table>
                        </p-accordionTab>
                    </p-accordion>

                    <!-- <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">Activity Number</th>
                                <th scope="col">Actual Worked</th>
                                <th scope="col">Used Budget</th>
                                <th scope="col">Finance Doc </th>
                                <th scope="col">Progress Status </th>
                                <th scope="col">Remark</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pro of progress; let i = index">
                                <th scope="row">{{pro.activityNumber}}</th>
                                <td>{{pro.actalWorked}}</td>
                                <td>{{pro.usedBudget}}</td>
                                 <td>
                                <ng-container *ngFor="let file of pro.documents;let i = index;">
                                    <a target="_blank" class="btn btn-sm btn-secondary m-2" href={{getFilePath(file)}}>View
                                        FIle {{i+1}}</a>
                                </ng-container>
    
                            </td>

                                <td>

                                    <a *ngIf="pro.financeDocument" target="_blank" class="btn btn-sm btn-secondary"
                                        href={{getFilePath(pro.financeDocument!)}}>View File</a>

                                </td>
                                <td>

                                     <span>
                                    Director: <span [class]="pro.isApprovedByDirector==='APPROVED'?'badge bg-primary':'badge bg-warning'">{{pro.isApprovedByDirector}}</span>
                                    {{pro.directorApprovalRemark}}
                                </span><br /> 

                                    <span>
                                        Finance: <span
                                            [class]="pro.isApprovedByFinance==='APPROVED'?'badge bg-primary':'badge bg-warning'">{{pro.isApprovedByFinance}}</span>
                                        {{pro.financeApprovalRemark}}
                                    </span> <br />

                                  <span>
                                    Pro.Man: <span [class]="pro.isApprovedByManager==='APPROVED'?'badge bg-primary':'badge bg-warning'"   >{{pro.isApprovedByManager}} ( {{pro.managerApprovalRemark}} )</span>
                                   
                                </span> 

                                </td>
                                <td>{{pro.activity}}</td>
                                <td>{{pro.createdAt| date:'fullDate'}}</td>
                                <td>

                                 
                                <span *ngIf="activity.isDirector&&pro.isApprovedByDirector=='PENDING'">
                                    Director:
                                    <li style="list-style: none; text-align: right;">
                                        <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span
                                                class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                            <li> <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;"
                                                    (click)="ApporveReject(pro.id,userType[0],actionType[0])"> <i
                                                        class="bi bi-bookmark-check-fill text-success"></i>
                                                    <span>Approve</span> </a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li> <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;"
                                                    (click)="ApporveReject(pro.id,userType[0],actionType[1])"> <i
                                                        class="bi bi-bookmark-x-fill text-danger"></i> <span>Reject</span>
                                                </a></li>
                                            <hr class="dropdown-divider">
    
    
    
    
                                        </ul>
                                    </li>
                                </span><br /> 

                                    <span *ngIf=" pro.isApprovedByFinance=='PENDING'">
                                        Finance:
                                        <li style="list-style: none; text-align: right;">
                                            <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown">
                                                <span class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                                <li> <a class="dropdown-item d-flex align-items-center"
                                                        style="cursor: pointer;"
                                                        (click)="ApporveReject(pro.id,userType[2],actionType[0])"> <i
                                                            class="bi bi-bookmark-check-fill text-success"></i>
                                                        <span>Approve</span> </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li> <a class="dropdown-item d-flex align-items-center"
                                                        style="cursor: pointer;"
                                                        (click)="ApporveReject(pro.id,userType[2],actionType[1])"> <i
                                                            class="bi bi-bookmark-x-fill text-danger"></i>
                                                        <span>Reject</span>
                                                    </a></li>
                                                <hr class="dropdown-divider">




                                            </ul>
                                        </li>
                                    </span>
                                    
                                <span *ngIf="activity.isProjectManager&&pro.isApprovedByManager=='PENDING'" >
                                    Pro.Man:
                                    <li style="list-style: none; text-align: right;">
                                        <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span
                                                class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                            <li> <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;"
                                                    (click)="ApporveReject(pro.id,userType[1],actionType[0])"> <i
                                                        class="bi bi-bookmark-check-fill text-success"></i>
                                                    <span>Approve</span> </a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li> <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;"
                                                    (click)="ApporveReject(pro.id,userType[1],actionType[1])"> <i
                                                        class="bi bi-bookmark-x-fill text-danger"></i> <span>Reject</span>
                                                </a></li>
                                            <hr class="dropdown-divider">
    
    
    
    
                                        </ul>
                                    </li>
                                </span> 

                                </td>
                            </tr>

                        </tbody>
                    </table> -->

                </div>
            </div>
        </div>
    </section>
</main>