<div class="modal-content bg-white">
    <div class="modal-header ">
        <h4 class="modal-title  text-center"> Register Basic Data </h4>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <form [formGroup]="customerForm" (ngSubmit)="submit()" style="background-color: #eceff1;">
        <div class=" px-4 py-3">

            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <h4>Customer Info.</h4>
                        <hr />
                        <div class="row form-input ">

                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="fullName" />
                                    <label for="floatingInput">Full Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="phoneNumber" />
                                    <label for="floatingInput">Phone Number</label>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-floating mb-3">

                                    <select class="form-control" formControlName="ketena">
                                        <option value="">Select Ketena</option>

                                        <option *ngFor="let item of ketenas" [value]="item.ketenaCode">
                                            {{item.ketenaName}}</option>
                                    </select>
                                    <label for="floatingInput">Ketena</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">

                                    <select class="form-control" formControlName="kebele">
                                        <option value="">Select kebele</option>

                                        <option *ngFor="let item of kebeles" [value]="item.kebeleCode">
                                            {{item.kebeleName}}</option>
                                    </select>

                                    <label for="floatingInput">kebele</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">

                                    <select class="form-control" formControlName="village">
                                        <option value="">Select Village</option>
                                        <option *ngFor="let item of villages" [value]="item.inputValues">
                                            {{item.inputValues}}</option>
                                    </select>

                                    <label for="floatingInput">Village</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="mapNumber" />
                                    <label for="floatingInput">Map Number</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="houseNumber" />
                                    <label for="floatingInput">House Number</label>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="col-6">

                        <h4>Meter Bill.</h4>
                        <hr />
                        <div class="row form-input ">


                            <div class="col-md-12 mb-2">

                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="locationCheckbox"
                                            formControlName="updateInitial">
                                        <label class="form-check-label" for="locationCheckbox">Update Initial</label>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="floatingInput"
                                        formControlName="startReading" />
                                    <label for="floatingInput">Start Reading.</label>
                                </div>
                            </div>

                          

                            <div class="col-md-4">
                                <div class="form-floating mb-3">

                                    <select class="form-control" formControlName="readerName">



                                        <option value="">Select Readers</option>
                                        <option *ngFor="let item of readers" [value]="item.userName">
                                           {{item.userName}} | {{item.fullName}}</option>
                                    </select>
                                    <label for="floatingInput">Reader Group</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">

                                    <select class="form-control" formControlName="sweragePaid">



                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                    <label for="floatingInput">Swerage Paid </label>
                                </div>
                            </div>

                            
                            <div class="col-md-4">
                                <div class="form-floating mb-3">

                                    <select class="form-control" formControlName="monhtIndex">
                                        <option value="">Select Month</option>
                                        <option *ngFor="let item of months" [value]="item.monthIndex">{{item.monthnamelocal}}</option>
                                        
                                    </select>
                                    <label for="floatingInput"> Register Month</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="floatingInput"
                                        formControlName="fiscalYear" />
                                    <label for="floatingInput">Register Year</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <hr />

                        <h4>Water Meter Info.</h4>
                        <hr />
                        <div class="col-md-3">
                            <div class="form-floating mb-3">

                                <select class="form-control" formControlName="billCycle">



                                    <option value="">Select Bill Cycle</option>
                                    <option *ngFor="let item of billCycles" [value]="item.inputValues">
                                        {{item.inputValues}}</option>
                                </select>

                                <label for="floatingInput">Bill Cycle</label>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">

                                <select class="form-control" formControlName="customerCategory">



                                    <option value="">Select Category</option>
                                    <option *ngFor="let item of customerCategories" [value]="item.custCategoryCode">
                                        {{item.custCategoryName}}</option>

                                </select>

                                <label for="floatingInput">Customer Category</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    formControlName="contractNo" />
                                <label for="floatingInput">Contract No.</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    formControlName="ordinaryNo" />
                                <label for="floatingInput">Ordinary No.</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" formControlName="meterNo" />
                                <label for="floatingInput">Water Meter No.</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating mb-3">

                                <select class="form-control" formControlName="meterSize">



                                    <option value="">Select Meter Size</option>
                                    <option *ngFor="let item of meterSizes" [value]="item.meterSizeCode">
                                        {{item.meterSizeName}}</option>
                                </select>
                                <label for="floatingInput">Meter Size</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingInput"
                                    formControlName="installationDate" />
                                <label for="floatingInput">Installation Date.</label>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
            <hr />
            <h4>Reader Info.</h4>
            <hr />
            <!-- location -->
            <div class="row form-input ">
                <div class="col-md-4 mb-3 ">
                    <select class="form-select" id="ReaderName" formControlName="ReaderName">
                        <option value="">Reader Name</option>
                        <option value="kebele1"> Nahom</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3 ">
                    <select class="form-select" id="PaymentPlace" formControlName="paymentPlace">
                        <option value="">Payment Place</option>
                        <option value="kebele1">Ketena 1</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3 ">
                    <select class="form-select" id="PaymentDuration">
                        <option value="">Paymnet Duration</option>
                        <option value="kebele1">Ketena 1</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Attitude"
                        formControlName="meterAltitude">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Longitude"
                        formControlName="meterLongitude">
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="MeterModel">
                            <!-- <option value="">Village</option> -->
                            <option *ngFor="let item of meterClass" [value]="item.inputValues">
                                {{item.inputValues}}</option>
                        </select>
                        <label for="floatingInput">Meter Class</label>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="MeterModel">
                            <!-- <option value="">Village</option> -->
                            <option *ngFor="let item of waterSource" [value]="item.inputValues">
                                {{item.inputValues}}</option>
                        </select>
                        <label for="floatingInput">Water Source</label>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Start Reading"
                        formControlName="meterStartReading">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Swerage Paid"
                        formControlName="sdPaid">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Online Sales Group"
                        formControlName="onlineGroup">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Bill Sales Group"
                        formControlName="billSalesGroup">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Payment Mode"
                        formControlName="paymentMode">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Bank Name"
                        formControlName="bankCode">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="Account Number"
                        formControlName="accountNo">
                </div>
            </div>

        </div>

        <div class="modal-footer bg-white">
            <button type="submit" [disabled]="!customerForm.valid" class="btn btn-outline-success">Save Basic
                Data</button>
        </div>
    </form>
</div>
