
<app-spinner></app-spinner>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '40vw' }" key="positionDialog" position="top" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<app-header *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/pages-error404' || _router.url === '/printout' || _router.url === '/forgetPassword'  ||_router.url.split('/')[1]==='trainee-form')" ></app-header>

<app-sidebar *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/pages-error404' || _router.url === '/printout' || _router.url === '/forgetPassword'  ||_router.url.split('/')[1]==='trainee-form')" ></app-sidebar>


<router-outlet></router-outlet>
<app-footer *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/pages-error404' || _router.url === '/printout' || _router.url === '/forgetPassword'  || _router.url.split('/')[1]==='trainee-form')" ></app-footer>



