<div class="page-header ng-star-inserted">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title"><!----><!---->
                    <h5 class="mb-2 ng-star-inserted"> Membership </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a _>Events</a></li>
                    <li class="breadcrumb-item ng-star-inserted">
                        <a href="javascript:">
                            Events Detail
                        </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card p-4">
    <div class="col-lg-12 p-2">
        <h3 class="modal-title">{{event&&event.fileName}}</h3>
    </div>

    <div class="card mt-2" style="background-color: #ecf0f4;">
        <div class="modal-content p-4">




            <div class="row">
                <div class="col-3 ">

                    <img *ngIf="event" style="border-radius: 20px;max-height: 200px;" [src]="getImage(event.filePath)">

                </div>

                <div class="col-9 card p-4">

                    <p [innerHTML]="event&&event.description">

                    </p>

                </div>
            </div>

        </div>
    </div>
</div>