<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Trainings
            <!-- <span style="color:brown;"> activity {{trainingList&&trainingList[0]&&trainingList[0].activityNumber}}</span> -->
        </h5>
    
    </div>

    <div class="card p-4">

        <div class="row mb-2">
            <div class="col-12 text-end">
                <button class="btn btn-outline-primary" (click)="addTraining()">
                    <i class="bi bi-plus text-primary"></i>
                    Add Trainings
                </button>
            </div>
        </div>


        <p-table [value]="trainingList" [tableStyle]="{ 'min-width': '50rem' }"
            styleClass="p-datatable-sm p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>

                    <th class="text-center">Project</th>
                    <th class="text-center">Title</th>
                    <!-- <th class="text-center">Organization</th>
                    <th class="text-center">Organization Type</th> -->
                    <th class="text-center">Allocated CEU</th>
                    <th class="text-center">Course Venue</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>
                    <th class="text-center">Report Status</th>
                    
                    <th class="text-center">
                        Action
                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-training>
                <tr>

                    <td>{{ training.project }}</td>
                    <td>{{ training.title }}</td>
                    <!-- <td>{{ training.nameofOrganizaton }}</td>
                    <td>{{ training.typeofOrganization }}</td> -->
                    <td>{{ training.allocatedCEU }}</td>
                    <td>{{ training.courseVenue }}</td>
                    <td>{{ training.startDate | date:"dd MMM yyyy"}}</td>
                    <td>{{ training.endDate | date:"dd MMM yyyy" }}</td>
                    <td>{{ training.reportStatus }}</td>
                    
                    <td>

                        <button class="btn btn-sm btn-outline-primary" (click)="toTrainingDetail(training.id)">View Detail</button>
                        <!-- <li style="list-style: none; text-align: right;">
                            <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span
                                    class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                <li> <a class="dropdown-item d-flex align-items-center"
                                        (click)="viewTrainers(training.id,training.title)">
                                        <i class="bi bi-people text-primary"></i> <span>
                                            Trainers
                                        </span> </a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li> <a class="dropdown-item d-flex align-items-center"
                                    (click)="viewTrainees(training.id,training.title)">
                                    <i class="bi bi-eye text-primary"></i> <span>
                                        Trainees
                                    </span> </a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li *ngIf="training.reportStatus=='SUBMITTED'||training.reportStatus=='DRAFTED'"> <a class="dropdown-item d-flex align-items-center"
                                        (click)="viewTrainingReport(training.id,training.title)">
                                        <i class="bi bi-eye text-primary"></i> <span>
                                            Training Report
                                        </span> </a></li>


                                    
                            </ul>
                        </li> -->
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>