<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Strategic Direction</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Strategic Direction Detail</h5>
            <form class="" [formGroup]="strategicPlanForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Name" placeholder="Name"
                                    formControlName="name">
                                <label for="Name">Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" id="strategicPeriodId" formControlName="strategicPeriodId">
                                    <option value="">Select Strategic Period</option>
                                    <option *ngFor="let period of strategicPeriods" [value]="period.id">
                                        {{period.name}} ({{period.startDate | date:'yyyy'}} - {{period.endDate | date:'yyyy'}})
                                    </option>
                                </select>
                                <label for="strategicPeriodId">Strategic Period</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="description" placeholder="description"
                                    formControlName="description"> 
                                    <label for="description">Description</label>
                            </div>
                        </div>
                
                

                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                        (click)="closeModal()">Close</button>
                    <button type="button" type="submit" [disabled]="!strategicPlanForm.valid" class="btn btn-outline-primary">Save
                        changes</button>
                </div>
            </form>

        </div>
    </div>

</div>