<div class="auth-main">
  <div class="auth-wrapper v3 row">
    <div class="auth-form col-md-8 col-sm-12">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="../../../../../assets/logo2.png" height="100" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-2"><b>Hi, Welcome Back</b></h2>
                <p class="fs-4 mt-2">Enter your Membership Id to continue</p>
              </div>
            </div>
          </div>
          <div class="d-grid">

          </div>
          <form [formGroup]="loginForm">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" formControlName="userName" />
              <label for="floatingInput">Membership Id</label>
            </div>

            <div class="d-flex mt-1 justify-content-between">


            </div>
            <div class="container">
              <div class=" d-grid text-center mt-4">
                <button type="submit" (click)="login()" class="btn btn-secondary">Sign In</button>
              </div>
              <div class=" d-grid text-end mt-2 ">
                <h5 (click)="forgetPassword()" style="cursor: pointer; color: rgb(131, 191, 244);">Forgot Membership Id ?</h5>
              </div>

              <hr />

              <div class=" d-grid text-center ">
                <h5>Don't have an account?</h5>
                <button type="button" (click)="register()" class="btn btn-secondary">Register now!</button>
              </div>
            </div>



          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="member-info text-center">
        <img src="../../../../../assets/image_1212.png" alt="Member Image" style="max-height: 280px;"
          class="img-fluid bounce-image">
        <h4 class="text-center mt-4 animated-heading"> Welcome to our Midwifes Membership!</h4>
        <p class="text-center animated-paragraph mt-4">
          Joining our Midwifes Membership is an
          excellent opportunity for Midwifes to connect,
          collaborate, and access valuable resources within our
          community. By becoming a member, you will gain exclusive
          benefits and support tailored specifically to Midwifery professionals.
        </p>

      </div>
    </div>
  </div>
</div>