<div style="display: flex;justify-content: center;">


    <div class="col-md-10 p-4 ">
        <div class="col-lg-12 text-end p-2">
            <button type="button" class="btn btn-outline-success" (click)="addPayment()"><i
                    class="pi pi-plus me-1" style="font-size: 12px;"></i>
                Payment Method</button>
        </div>
        <table class="custom-table">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Payments ;let i = index">

                    <td>{{item.inputValues}}</td>                    <td>
                        <button type="button" (click)="updatePayment(item)"
                            class="btn btn-outline-warning btn-sm"><i class="ti ti-pencil"></i></button> &nbsp;
                            
                        <button type="button" (click)="removePayment(item.recordno)"
                            class="btn btn-outline-danger btn-sm"><i class="ti ti-trash"></i></button>

                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>