<div style="display: flex;justify-content: center;">


    <div class="col-md-10 p-4 ">
        <div class="col-lg-12 text-end p-2">
            <button type="button" class="btn btn-outline-success" (click)="addCountry()"><i
                    class="pi pi-plus me-1" style="font-size: 12px;"></i>
                Country</button>
        </div>
        <table class="custom-table">
            <thead>
                <tr>

                    <th>Country Code </th>
                    <th>Country Name</th>
                    <th>Nationality</th>
                    <th>ACtion</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paginatedCountry ;let i = index">

                    <td>{{item.countryCode}}</td>
                    <td>{{item.countryName}}</td>
                    <td>{{item.nationality}}</td>
                    <td>
                        <button type="button" (click)="updateCountry(item)"
                            class="btn btn-outline-warning btn-sm"><i class="ti ti-pencil"></i></button> |
                        <button type="button" (click)="removeCountry(item.id)"
                            class="btn btn-outline-danger btn-sm"><i class="ti ti-trash"></i></button>

                    </td>

                </tr>

            </tbody>
        
        </table>
        <div class="card flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="Country&&Country.length" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
        </div>



    </div>
</div>