<div class="p-4">
  <div class="modal-header" *ngIf="traininggId">

    <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="card p-4">
    <div class="text-center">
      <img src="../../../../assets/logo.png" height="80px" />
      <h1>Ethiopian Midwives Association</h1>
      <h2>Training Quality Evaluation tools</h2>
      <p>Dear trainers: Please add the trainees for <span style="font-size: 20px;color:#1b419f">{{TrainingTitle}}</span>
        on the table below</p>

      <div class="row col-12 text-end"   *ngIf="!traininggId&&(training&&training.traineeListStatus!='SUBMITTED')" >


      
          <div class="col-md-4">
            <button class="btn btn-outline-primary" (click)="changeTraineeReportStatus()">
              Submit
            </button>
          </div>

       

      </div>

    </div>
  </div>
  <div class="card p-2">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="text-center" style="width: 5%;">#</th>
          <th class="text-center">Full Name</th>
          <th class="text-center" style="width: 10%;">Phone Number</th>
          <th class="text-center" style="width: 15%;">Email</th>
          <th class="text-center" style="width: 10%;">Birth Date</th>
          <th class="text-center" style="width: 10%;">Gender</th>
          <th class="text-center" style="width: 15%;">Profession</th>
          <th class="text-center" style="width: 20%;">Level of Education</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of traineeData; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-center">{{ row.fullName }}</td>
          <td class="text-center">{{ row.phoneNumber }}</td>
          <td class="text-center">{{ row.email }}</td>
          <td class="text-center">{{ row.birthDate | date:"dd MMM yyyy" }} | {{getAge(row.birthDate)}}</td>
          <td class="text-center">{{ row.gender }}</td>
          <td class="text-center">{{ row.educationalField }}</td>
          <td class="text-center">{{ row.educationalLevel }}</td>
        </tr>

      </tbody>
      <tfoot *ngIf="!traininggId&&(training&&training.traineeListStatus!='SUBMITTED')" >

        <tr>

          <td colspan="8">
            <form [formGroup]="traineeForm">
          <td>

            <input pInputText type="text" placeholder="Full Name" formControlName="fullName" />
          </td>
          <td>
            <input pInputText type="text" placeholder="Phone Number" formControlName="phoneNumber" />
          </td>
          <td>
            <input pInputText type="email" placeholder="Email" formControlName="email" />


          <td>

            <input pInputText type="date" formControlName="birthDate" />


          </td>
          <td width="15%">
            <p-dropdown formControlName="gender" [options]="genders" optionLabel="label" optionValue="value"
              placeholder="Select Gender"></p-dropdown>
          </td>
          <td width="15%">
            <p-dropdown formControlName="educationLevel" [options]="educationalLevels" optionLabel="name"
              optionValue="id" placeholder="Select Educational Level" [filter]="true"></p-dropdown>

          </td>
          <td width="15%">
            <p-dropdown formControlName="profession" [options]="educationalFields" optionLabel="name" optionValue="id"
              placeholder="Select Educational Fields" [filter]="true"></p-dropdown>

          </td>
          <td> <button type="button" [disabled]="!traineeForm.valid" class="btn btn-outline-primary"
              (click)="addRow()">+</button></td>
          </form>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>