
<div class="card mt-5">
    <div class="card-body">
        <div class="overflow-x-auto">
            <div class="row">
                <div class="col-2 px-10 py-2.5 font-weight-bold border border-secondary dark:border-dark">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle h-28 w-28" alt="">
                    </div>
                </div>
                <div class="col-4 px-10 py-10 font-weight-bold border border-secondary dark:border-dark bg-gray-500">
                    <h5 class="ml-3 text-white">
                        ኢትዮጲያ ፌደራላዊ ዲሞከራሲያዊ ሪፐብሊክ <br /> የኢትዮጲያ ገቢዎችና ጉሙሩክ ባለስልጣን
                    </h5>
                </div>
                <div class="col-4 px-3 py-3 font-weight-bold border border-secondary dark:border-dark">
                    <h5 class="ml-3">
                        ሠንጠረዥ "ሀ" የስራ ግብር ክፍያ ማስታወቂያ ቅጽ (ለተቀጣሪዎች)
                        <br />
                        (የገቢ ግብር አዋጅ ቁጥር 976/2016 ና ገቢ ግብር ደንብ ቁጥር 410/2009)
                    </h5>
                </div>
                <div class="col-2 px-10 py-2.5 font-weight-bold border border-secondary dark:border-dark">
                    <div class="d-flex align-items-center">
                        <img alt="" class="rounded-circle h-28">
                    </div>
                </div>
                <div class="col-12 border border-secondary dark:border-dark">
                    <h6 class="text-center">ክፍል 1 የግብር ከፋይ ዝርዝር መረጃ</h6>
                </div>
            <!-- </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
      <div class="col-12 border border-secondary position-relative">
        <div class="row">
          <div class="col-3 px-3.5 py-2.5 border border-secondary">
            1. 1. የግብር ከፋይ ስም: Sample
          </div>
          <div class="col-3 px-3.5 py-2.5 border border-secondary">
            3. የግብር ከፋይ መለያ ቁጥር:: 0000931997
          </div>
          <div class="col-3 px-3.5 py-2.5 border border-secondary">
            4.የግብር ከፋይ ሂሳብ ቁጥር
          </div>
          <div class="col-3 px-1 py-1 border border-secondary">
            <div class="row">
              <div class="col-8 px-3 py-3.5 border border-secondary">
                5. የክፍያ ጊዜ
              </div>
              <div class="col-4">Page 1 of _</div>
            </div>
            <div class="row">
              <div class="col-6 border px-1 py-3.5 border-secondary">
                ወር: December
              </div>
              <div class="col-6 border px-1 py-3.5 border-secondary">
                ዓ.ም. 2023
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 border border-secondary position-relative">
        <div class="row">
          <div class="col-1">
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              2a. ከልል A.A
            </div>
            <div class="col-12 px-3.5 py-2.5">
              2c ወረዳ 02
            </div>
          </div>
          <div class="col-2">
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              2b. ዞን/ክፍለ ከተማ kirkos
            </div>
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              2d ቀበሌ/ገበሬ ማህበር
            </div>
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              2e. የቤት ቁጥር
            </div>
          </div>
          <div class="col-5">
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              5. የግብር ሰብሳቢ መ/ቤት ስም
            </div>
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              6. የስልክ ቁጥር
            </div>
            <div class="col-12 px-3.5 py-2.5 border border-secondary">
              7. ፋክስ ቁጥር
            </div>
          </div>
          <div class="col-1">የሰነድ ቁጥር (ለቢሮ አገልግሎት ብቻ)</div>
          <div class="col-10 px-1 py-1 border border-secondary">
            <div class="row">
              <div class="col-12">
                <h6 class="text-center">
                  ሠንጠረዥ 2. ማስታወቂያ ዝርዝር መረጃ
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-12 border border-secondary relative">
    <div class="grid grid-cols-2">
      <div class="col-span-1">
        <div class="grid grid-cols-7">
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሀ) ተ.ቁ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ለ) የሠራተኛው ግብር ከፋይ ቁጥር (TIN)
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሐ) የሠራተኛው ስም የአባት ስምና የአያት ስም
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            መ) የተቀጠሩበት ቀን
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሠ) ደምወዝ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ረ) ጠቅላላ የትራንስፖርት አበል
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሰ) የስራ ንግድ ግብር የሚከፈልበት የትራንስፖርት አበል
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="grid grid-cols-7">
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሸ) የትርፍ ሰአት ክፍያ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ቀ) ሌሎች ጥቅማ ጥቀሞች
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            በ) ጠቅላላ ግብር የሚከፈልበት ብር
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ተ የስራ ግብር
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ቸ) የትምህርት ወጪ መጋራት
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ገ) የተጣራ ክፍያ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            የሠራተኛ ፊ```html
  <div class="col-span-12 border border-secondary relative">
    <div class="grid grid-cols-2">
      <div class="col-span-1">
        <div class="grid grid-cols-7">
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሀ) ተ.ቁ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ለ) የሠራተኛው ግብር ከፋይ ቁጥር (TIN)
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሐ) የሠራተኛው ስም የአባት ስምና የአያት ስም
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            መ) የተቀጠሩበት ቀን
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሠ) ደምወዝ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ረ) ጠቅላላ የትራንስፖርት አበል
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሰ) የስራ ንግድ ግብር የሚከፈልበት የትራንስፖርት አበል
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="grid grid-cols-7">
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ሸ) የትርፍ ሰአት ክፍያ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ቀ) ሌሎች ጥቅማ ጥቀሞች
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            በ) ጠቅላላ ግብር የሚከፈልበት ብር
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ተ) የስራ ግብር
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ቸ) የትምህርት ወጪ መጋራት
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            ገ) የተጣራ ክፍያ
          </div>
          <div class="col-span-1 px-3.5 py-2.5 border border-secondary">
            የሠራተኛ ፊርማ
          </div>
        </div>
        
          <div class="col-span-12 relative">
            <div class="grid grid-cols-2">
              <div class="col-span-1">
                <div class="grid grid-cols-7">
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                </div>
              </div>
              <div class="col-span-1">
                <div class="grid grid-cols-7">
                  <div class="col-span-1 px-3.5 py-2.5 border  border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                  <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 border border-slate-200 dark:border-zink-500 relative">
            <div class="grid grid-cols-1 sm:grid-cols-3">
              <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                የወሩ የተጠቃለለ ሂሳብ
              </div>
              <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                ክፍል 4- በዚህ ወር ስራ የለቀቁ ሠራተኞች ዝርዝር መረጃ
              </div>
              <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                ለቢሮ አገልግሎት ብቻ
              </div>
            </div>
            <div class="grid grid-rows-4 grid-flow-col">
              <div class="grid grid-cols-10 sm:grid-cols-12">
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  10
                </div>
                <div class="col-span-1 sm:col-span-3 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  በዚህ ወር ደምውዝ ሚከፈላቸው ሰራተኞች ብዛት
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  4200
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  ሀ) ተ.ቁ
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የሠራተኛው የግብር ከፋይ ቁጥር
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የሠራተኛው ስም /የአባት ሰምና የአያት ስም
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የተከፈለብት ቀን
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
              </div>
              <div class="grid grid-cols-10 sm:grid-cols-12">
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  20
                </div>
                <div class="col-span-1 sm:col-span-3 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የውሩ ጠቅላላ የስራ ገብር የሚከፈልበት ገቢ (ከላይ ካለው ሠንጠረዥ (በ))
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  4200
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  ሀ) ተ.ቁ
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የደረሰኝ ቁጥር
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
              </div>
              <div class="grid grid-cols-10 sm:grid-cols-12">
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  30
                </div>
                <div class="col-span-1 sm:col-span-3 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የወሩ ጠቅላላ መከፈል ያለበት የሥራ ገበር (ከላይ ካለው ሠንጠረዥ (ተ) )
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  4200
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  ሀ) ተ.ቁ
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የገንዘብ ልክ
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
              </div>
              <div class="grid grid-cols-10 sm:grid-cols-12">
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-3 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የቼክ ቁጥር
                </div>
                <div class="col-span-1 sm:col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  -
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-3">
              <div class="col-span-3 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                <h6 class="text-center">ክፍል 5 የትክክለኛነት ማረጋገጫ </h6>
              </div>
            </div>
            <div class="grid grid-cols-10 sm:grid-cols-4">
              <div class="col-span-1 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                ከላይ የተገለጸው ማስታወቂያና የተሰጠው መረጃ ሙሉ በሙሉ የተሟላና ትክክለኛ መሆኑን
                አረጋገጣለሁ። ትክክለኛ ያልሆነ መረጃ ማቅረብ በግብር ሀጎችም ሆ በወንጀለኛ ሕግ የሚያስቀጣ
                መሆኑን እገነዘባለሁ
              </div>

              <div class="grid grid-rows-1 col-span-1">
                <div class="col-span-2 px-3.5 py-2.5 ">
                  የግብር ከፋይ ሀጋዊ ወኪሉ
                </div>
                <div class="row-span-1">
                  <div class="col-span-2 px-3 py-2.5 border border-slate-200 dark:border-zink-500">
                    ስም_______________________________
                  </div>
                </div>
                <div class="col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  ፊርማ________________ቀን____________
                </div>
              </div>
              <div class="grid grid-rows-1 col-span-1">
                <div class="col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  ማሕተም
                </div>
              </div>

              <div class="grid grid-rows-1 col-span-1">
                <div class="col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                  የግብር ባለስልጣን ስም
                </div>
                <div class="row-span-1">
                  <div class="col-span-2 px-3.5 py-2.5 border border-slate-200 dark:border-zink-500">
                    ፊርማ________________ቀን____________
                  </div>
                </div>
              </div>
            </div>
          </div>



          
        </div>
      </div>
    </div>
  </div> 