<main id="main" class="main">
    <div class="pagetitle">
        <h1>Add Goods Reciving Note</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item" ><a (click)="goBack()">Inventory</a></li>
                <li class="breadcrumb-item active">add good Reciving note</li>
            </ol>
        </nav>
    </div>


    <div class="card">
        <div class="card-body">
    
            <form #detailForm="ngForm">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="projectId">Source of fund</label>
                            <p-dropdown [options]="sourceOFProduct" [(ngModel)]="addProduct.sourceOfProduct"
                            optionValue="value" optionLabel="name" placeholder="Product Source"
                            [showClear]="true" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="employeeId">Employee</label>
                            <p-dropdown [options]="employeeList" optionLabel="name" optionValue="id"  name="employeeId" 
                            [(ngModel)]="addProduct.employeeId" placeholder="Select Employee"  [filter]="true" filterBy="name" [showClear]="true">
                        </p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="projectId">Project</label>
                            <p-dropdown [options]="projectDropDown" optionLabel="name" optionValue="id"  name="projectId" 
                                [(ngModel)]="addProduct.projectId" placeholder="Select Project"  [filter]="true" filterBy="name" [showClear]="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="itemId">Item</label>
                            <p-dropdown [options]="itemsDropDown" optionLabel="name" optionValue="id"  name="itemId" (onChange)="changeItem($event.value)"
                                [(ngModel)]="addProduct.itemId" placeholder="Select Item"  [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="itemDetailName">Item Detail Name</label>
                            <input pInputText id="itemDetailName" [(ngModel)]="addProduct.itemDetailName" name="itemDetailName" type="text"
                                required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="vendorId">Vendor</label>
                            <p-dropdown [options]="vendorDropDown" optionLabel="name" optionValue="id" name="vendorId"
                                [(ngModel)]="addProduct.vendorId" placeholder="Select Vendor" [filter]="true" filterBy="name"
                                [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="isPurchaseRequest">Is Purchase Request</label>
                                <p-inputSwitch [(ngModel)]="addProduct.isPurchaseRequest" name="isPurchaseRequest"
                                    (onChange)="changePurchaseSwitch($event)"></p-inputSwitch>
                        </div>
                    </div>
                    <div *ngIf="addProduct.isPurchaseRequest" class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="purchaseRequestId">Purchase Request</label>
                                <p-dropdown [options]="purchaseRequestDropDown" optionLabel="name" optionValue="id" name="purchaseRequestId"
                                    [(ngModel)]="addProduct.purchaseRequestId" placeholder="Select Purchase Request"
                                    [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="measurementUnitId">Measurement Unit </label>
                            <p-dropdown [options]="measurementUnitDropDown" optionLabel="name" optionValue="id" name="measurementUnitId"
                                [(ngModel)]="addProduct.measurementUnitId" placeholder="Select Measurement Unit"
                                [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="singlePrice">Single Price</label>
                            <input pInputText id="singlePrice" [(ngModel)]="addProduct.singlePrice" type="number" name="singlePrice"
                                min="0" required />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="quantity">Quantity</label>
                            <input pInputText id="quantity" [(ngModel)]="addProduct.quantity" type="number" name="quantity" min="1"
                                required />
                        </div>
                    </div>
                    <div *ngIf="measurementType == 3" class="col-md-3 mt-2">
                        <div class="form-group">
                            <label htmlFor="cartoon">Cartoon</label>
                            <input pInputText id="cartoon" [(ngModel)]="addProduct.cartoon" name="cartoon" type="number" min="1" />
                        </div>
                    </div>
                    <div *ngIf="measurementType == 3" class="col-md-3 mt-2">
                        <div class="form-group">
                            <label htmlFor="packet">Packet</label>
                            <input pInputText id="packet" [(ngModel)]="addProduct.packet" name="packet" type="number" min="1" />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2" >
                        <div class="form-group">
                            <label htmlFor="manufactureDate">Manufacture Date</label>
                            <p-calendar [showIcon]="true" [(ngModel)]="addProduct.manufactureDate" name="manufactureDate"
                                inputId="icon"></p-calendar>
                        </div>
                    </div>
                    <div *ngIf="isExpirable" class="col-md-3 mt-2">
                        <div class="form-group">
                            <label htmlFor="lastname2">Expire Date</label>
                            <p-calendar [showIcon]="true" [(ngModel)]="addProduct.expireDateTime" name="expireDateTime"
                                inputId="icon"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label htmlFor="columnName">Column Name</label>
                            <input pInputText id="columnName" [(ngModel)]="addProduct.columnName" name="columnName" type="text" />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label htmlFor="state">Row Name </label>
                            <input pInputText id="rowName" [(ngModel)]="addProduct.rowName" name="rowName" type="text" />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label htmlFor="recivingDateTime">Reciving Date Time</label>
                            <p-calendar [showIcon]="true" [(ngModel)]="addProduct.recivingDateTime" name="recivingDateTime"
                                inputId="icon"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label class="col-md-12" htmlFor="description">Description</label>
                            <textarea class="form-control" rows="5" name="description" #description   [(ngModel)]="addProduct.description" ></textarea>
                            <!-- <textarea pInputText id="description" type="text" height="120" row="15" cols="10" name="description"
                                [(ngModel)]="addProduct.description"></textarea> -->
                        </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button pButton type="button" label="Go Back"   icon="pi pi-angle-double-left" class="p-button-sm p-button-default" (click)="goBack()"></button> &nbsp;
                    <button pButton type="button" label="Save"  [disabled]="!detailForm.valid"  icon="pi pi-check" class="p-button-sm p-button-success" (click)="SaveChanges()"></button>
                </div>
            </form>
        </div>

        <div class="card-body">
            <p-table #dt [value]="productViews"  responsiveLayout="scroll" [rows]="10"
            [globalFilterFields]="['name']" [rows]="10"
            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Saved Products</h5>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Source</th>
                    <th>Employee Name </th>
                    <th>Project </th>
                    <th>Item Name </th>
                    <th>Vendor </th>
                    <th>Toral Price </th>
                    <th>Total Quantity </th>
                    <th>Received Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        {{item.projectSource}}
                    </td>
                    <td>
                        {{item.employeeName}}
                    </td>
                    <td>
                        {{item.project}}
                    </td>
                    <td>
                        {{item.itemName}}
                    </td>
                    <td>
                        {{item.vendor}}
                    </td>
                    <td>
                        {{item.totalPrice}}
                    </td>
                    <td>
                        {{item.totalquantity}}
                    </td>
                    <td>
                        {{item.receivedDate | date : 'dd, MMMM, yyy'}}
                    </td>
                </tr>
            </ng-template>
        </p-table> 
        </div>
    </div>

    <p-dialog [(visible)]="tagNumberDialog" [style]="{width: '450px'}" header="Generate Tag Number" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <input class="form-check-input" id="serial" name="serial" [(ngModel)]="hasSerial" type="checkbox" (change)="handleCheckboxChange($event.target)" id="hasSerial"  >
                 <label
                class="form-check-label" style="font-size: 20px;font-weight: bold;"
                for="hasSerial">Has Serial Number</label>
            </div>
            <div class="row" *ngIf="productTag.serialNumber.length > 0">
                <label class="col-md-12" htmlFor="ser">Serial Numbers</label>
                <div *ngFor="let ser of serialList; let i = index " class="col-md-6 mb-2">
                    <input class="form-control"  [(ngModel)]="productTag.serialNumber[i]" [name]="'seri' + i" [id]="'seri' + i"  type="text" />
                </div>
            </div>
        
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Approve" icon="pi pi-check" class="p-button-text"
                (click)="GenerateTagNumber()"></button>
        </ng-template>

    </p-dialog>

</main>