<div class="auth-main">
  <div class="auth-wrapper v3 row">
    <div class="auth-form col-md-8 col-sm-12">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="../../../../../assets/logo2.png" height="100"/>
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-2"><b>Hi, Welcome Back</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <div class="d-grid">
   
          </div>
          <form [formGroup]="loginForm"  >
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" formControlName="userName" />
            <label for="floatingInput">Email address / Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" />
            <label for="password">Password</label>
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
            </div>
            <h5 class="text-secondary">
              <a href="javascript:">Forgot Password?</a>
            </h5>
          </div>
          <div class="d-grid mt-4">
            <button type="submit" (click)="login()" class="btn btn-secondary">Sign In</button>
          </div>
          <hr />
          <h5 >
            Aready have an account?  <a class="text-secondary" style="cursor: pointer;
            font-size: 15px;
            font-weight: bolder;
            border: 1px solid #673ab7;
            border-radius: 10px;
            padding: 6px;" (click)="loginasMember()">Login as a Member!</a>
          </h5>
        </form>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12" >
      <div class="member-info text-center">
        <img src="../../../../../assets/image_1212.png" alt="Member Image" style="max-height: 300px;" class="img-fluid bounce-image">
        <h4 class="text-center mt-4 animated-heading">Welcome to our Midwives Membership!</h4>
      
      
      
      
        <p class="text-center animated-paragraph">
          
          Joining our Midwives Membership is an 
          excellent opportunity for midwives to connect, 
          collaborate, and access valuable resources within our 
          community.By becoming a member, you will gain exclusive  
          benefits and support tailored specifically to midwifery professionals.
        </p>
     
  
      </div>
    </div>
  </div>
</div>
