<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{mobileUser&&mobileUser?"Update":"Add"}} Mobile User</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <form [formGroup]="EmployeeForm" (submit)="onSubmit()">

                <div class="row">
                    <div class="col-md-3 ">
                        <img [src]="getImage2()" alt="Profile"
                            style="width: 100%;">
                        <input #file (change)="onUpload($event)" type="file" style="display: none;" accept="image/*" />
                        <div class="pt-2">
                            <a (click)="file.click()" style="width: 100%;" class="btn btn-outline-primary btn-sm"
                                title="Upload new profile image">
                                <i class="bi bi-upload"></i> Upload Image
                            </a>
                        </div>
                    </div>

                    <div class="col-9">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="fullname" />
                                    <label for="floatingInput">Full Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="phone" />
                                    <label for="floatingInput">Phone Number</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <select class="form-control" formControlName="role">
                                        <option value="Admin">ADMIN</option>
                                        <option value="Reader">READER</option>
                                    </select>
                                    <label for="floatingInput">Role</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="userName"
                                        id="floatingInput" />
                                    <label for="floatingInput">Username</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="password" />
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="imei1"
                                        id="floatingInput" />
                                    <label for="floatingInput">IMEI 1</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="imei2" />
                                    <label for="floatingInput">IMEI 2</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                        (click)="closeModal()">Close</button> <button type="button" type="submit"
                        [disabled]="!EmployeeForm.valid" class="btn btn-outline-primary">
                        {{mobileUser&&mobileUser?"Update":"Save"}}                        
                        changes</button></div>

            </form>

        </div>
    </div>
</div>