<div class="p-4">
    <div class="modal-header" *ngIf="traininggId">

        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="card p-4">
        <div class="text-center">
            <img src="../../../../assets/logo.png" height="80px" />
            <h1>Ethiopian Midwives Association</h1>
            <h2>Training Quality Evaluation tools</h2>
            <p>Title: {{training&&training.title}}</p>
            <p>Duration: {{training&&training.startDate|date:"dd MMM yyyy"}} -- {{training&&training.endDate|date:"dd MMM yyyy"}}</p>
            <p>Venue of the training: {{training&&training.courseVenue}}</p>
            <p>Name of the trainers: <span *ngFor="let item of trainers">{{item.fullName}} ,</span></p>
            
        	
        </div>
    </div>
    <div class="card p-2">
        <form >
            <div class="card-body">
                <h5 class="card-title">Training Detail</h5>
                <hr />
    
                <div class="row mt-2">
    
                    
    
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" formControlName="Project" class="form-control" id="Project"
                                placeholder="Project">
                            <label for="Project">Project </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" formControlName="Title" class="form-control" id="Title"
                                placeholder="Title">
                            <label for="Title">Title </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" formControlName="NameofOrganizaton" class="form-control" id="NameofOrganizaton"
                                placeholder="NameofOrganizaton">
                            <label for="NameofOrganizaton">Name of Organizaton </label>
                        </div>
                    </div>
            
    
                </div>
    
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" formControlName="TypeofOrganization" class="form-control" id="TypeofOrganization"
                                placeholder="TypeofOrganization">
                            <label for="TypeofOrganization">Type of Organization </label>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" formControlName="CourseVenue" class="form-control" id="CourseVenue"
                                placeholder="CourseVenue">
                            <label for="CourseVenue">Course Venue </label>
                        </div>
                    </div>
                
    
                </div>
    
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="date" formControlName="StartDate" class="form-control" id="StartDate"
                                placeholder="StartDate">
                            <label for="StartDate">Start Date</label>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="date" formControlName="EndDate" class="form-control" id="EndDate"
                                placeholder="EndDate">
                            <label for="EndDate">End Date</label>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="modal-footer"> 
                         
                <button type="button"  class="btn btn-outline-secondary" (click)="closeModal()"> Close</button>
                <button type="button" type="submit"    class="btn btn-outline-primary">Create</button>
    
            </div>
        </form>
    </div>

</div>