<div class="mail-wrapper">

    <div id="mail-menulist" class="show collapse collapse-horizontal me-2">
        <div class="mail-menulist">
            <div class="card">
                <div class="card-body">

                </div>
                <div class="scroll-block" style="max-height: 350px;overflow-y: scroll;">
                    <div class="card-body pt-0">
                        <div class="list-group list-group-flush nav nav-tabs" id="list-tab" role="tablist">
                            <li class="nav-item">
                                <a class="list-group-item list-group-item-action nav-link active" id="list-mailtab-36"
                                    data-bs-toggle="tab" href="#list-mail-36" role="tab">
                                    <span> Meter Size Group
                                    </span>
                                    <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="list-group-item list-group-item-action nav-link mt-2" id="list-mailtab-37"
                                    data-bs-toggle="tab" href="#list-mail-37" role="tab">
                                    <span> Tarif Rate Group
                                    </span>
                                    <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                                </a>
                            </li>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-39"
                                data-bs-toggle="list" href="#list-mail-39" role="tab">
                                <span> Consumption Level
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-8"
                                data-bs-toggle="list" href="#list-mail-38" role="tab">
                                <span>Water Source
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-40"
                                data-bs-toggle="list" href="#list-mail-40" role="tab">
                                <span> Invoice Prefix
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>


                            <hr class="my-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="mail-content tab-content">
        <div class="tab-pane fade show active" id="list-mail-36" role="tabpanel" aria-labelledby="list-mailtab-36">
            <div class="card table-card">
                <app-meter-size-group />
            </div>
        </div>
        <div class="tab-pane fade" id="list-mail-37" role="tabpanel" aria-labelledby="list-mailtab-37">
            <div class="card table-card">
                <app-tarif-rate-group />
            </div>
        </div>
        <div class="tab-pane fade" id="list-mail-38" role="tabpanel" aria-labelledby="list-mailtab-38">
            <div class="card table-card">
                <app-water-source />
            </div>
        </div>
        <div class="tab-pane fade" id="list-mail-39" role="tabpanel" aria-labelledby="list-mailtab-39">
            <div class="card table-card">
                <app-consumption-level />
            </div>
        </div>
        <div class="tab-pane fade" id="list-mail-40" role="tabpanel" aria-labelledby="list-mailtab-40">
            <div class="card table-card">
                <app-invoice-prefix />
            </div>
        </div>



        <!-- Add more tab panes here -->



    </div>