<main id="main" class="main">
    <div class="pagetitle">
        <h1>Activities</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Assigned </li>
                <li class="breadcrumb-item active">Activities</li>
            </ol>
        </nav>
    </div>



    <section class="section dashboard">


        <div class="row">

            <div class="col-12">
                <div class="card p-2">
                    <div class="d-flex justify-content-start ">
                        <!-- <div class="form-floating col-3 me-2">
                                <select class="form-control" [(ngModel)]="selectedProject" (change)="onPorjectCHange()"
                                    id="StrategicPlanId" placeholder="StrategicPlanId">
                                    <option></option>
                                 
                                </select>
                                <label for="StrategicPlanId">Projects</label>
                            </div> -->

                        <div class="form-floating col-3 me-2">
                            <select class="form-control " [(ngModel)]="selectedProject" (change)="onProjectChange()">
                                <option></option>
                                <option *ngFor="let item of Projects" [value]="item">{{item}}</option>

                            </select>

                            <label for="projects">Projects</label>
                        </div>


                        <div class="form-floating col-3 me-2">
                            <select class="form-control " [(ngModel)]="Quarter" (change)="onQuarterChange()">

                                <option value=4>October - December {{currentYear}}</option>
                                <option value=3>July - Augest {{currentYear}}</option>
                                <option value=2>April - June {{currentYear}}</option>
                                <option value=1>January - March {{currentYear}}</option>
                            </select>

                            <label for="ReportBy">Quarter Report</label>
                        </div>

                        <div class="form-floating col-3 me-2">
                            <select class="form-control " [(ngModel)]="selectedMonth" (change)="onMonthSelected()">
                                <option value="13"></option>
                                <option *ngFor="let item of months" [value]="item.value">{{item.label}}</option>

                            </select>

                            <label for="months">Months</label>
                        </div>



                        <div class="form-floating">
                            <input type="text" class="form-control" id="PlannedBudget" #searchterm placeholder="filter"
                                (change)="filterActivites(searchterm.value)" placeholder="EndDate">
                            <label for="PlannedBudget">Filter </label>

                        </div>



                    </div>



                </div>
            </div>
        </div>
<!-- 
        <p-table [value]="filterdActivities"   styleClass="p-datatable-gridlines"
        [tableStyle]="{'max-width': '50rem'}"
        >
            <ng-template pTemplate="header">
                <tr>

                    <th scope="col" rowspan="2" resizable
                        style="border: 1px solid black;background-color: #00667d;color: white;">ID
                    </th>
                    <th scope="col" rowspan="2" resizable
                        style="border: 1px solid black;background-color: #00667d;color: white;">
                        Task/Activity</th>

                    <th scope="col" rowspan="2" resizable
                        style="border: 1px solid black;background-color: #00667d;color: white;">
                        Indicator
                    </th>

                    <th scope="col" *ngFor="let item of months" [colSpan]="4" pResizableColumn
                        style="border: 1px solid black;background-color: #00667d;color: white;"
                        [ngClass]="{'d-none': selectedMonth != 13}">
                        {{ item.label }}
                    </th>

                    <th scope="col" [colSpan]="4" *ngIf="selectedMonth != 13" pResizableColumn
                        style="border: 1px solid black;background-color: #00667d;color: white;">
                        {{ getMonthName() }}
                    </th>

                    <th rowspan="2" pResizableColumn
                        style="border: 1px solid black;background-color: #00667d;color: white;">
                        Progress
                    </th>
                    <th rowspan="2" pResizableColumn
                        style="border: 1px solid black;background-color: #00667d;color: white;">
                        Action
                    </th>

                </tr>
                <tr>
                    <ng-container *ngFor="let item of months">
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                            [ngClass]="{'d-none': selectedMonth != 13}">Target</th>
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                            [ngClass]="{'d-none': selectedMonth != 13}">Actual</th>
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                            [ngClass]="{'d-none': selectedMonth != 13}">Budget</th>
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                            [ngClass]="{'d-none': selectedMonth != 13}">Used</th>
                    </ng-container>

                    <ng-container *ngIf="selectedMonth != 13">
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Target</th>
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Actual</th>
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Budget</th>
                        <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Used</th>
                    </ng-container>


                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [ngStyle]="{
                    'background-color': item.isCancelled ? '#dc3545a1' : (item.isCompleted ? '#28a745a3' : (item.isStarted ? '#ffc10775' : '')),
                    'color': item.isCancelled||item.isCompleted?'white':''
                }">


                    <td style="border: 1px solid black; "> {{item.activityNumber}}</td>
                    <td style="border: 1px solid black; ">{{item.name}}</td>
                    <td style="border: 1px solid black; ">{{item.unitOfMeasurment}}</td>


                    <ng-container *ngFor="let month of months">
                        <td [ngClass]="{'d-none': selectedMonth != 13}"
                            style="border: 1px solid black; background-color: #e3dfdf; ">
                            {{getMonthPeroformance(item.monthPerformance,month.value)}}</td>
                        <td [ngClass]="{'d-none': selectedMonth != 13}" style="border: 1px solid black; "> <input
                                class="form-control" [value]="getMonthPeroformance2(item.monthPerformance,month.value)"
                                [id]="month.label" [min]="0" (change)="onProgressAdded(item.id,month,$event.target)"
                                type="number" /></td>
                        <td [ngClass]="{'d-none': selectedMonth != 13}"
                            style="border: 1px solid black; background-color: #e3dfdf; ">
                            {{getMonthPeroformance3(item.monthPerformance,month.value)}}</td>
                        <td [ngClass]="{'d-none': selectedMonth != 13}" style="border: 1px solid black; "> <input
                                class="form-control" [value]="getMonthPeroformance4(item.monthPerformance,month.value)"
                                type="number" (change)="onProgressBudgetAdded(item.id,month,$event.target)" [min]="0"
                                [id]="month.label" /></td>


                    </ng-container>

                    <ng-container *ngIf="selectedMonth != 13">
                        <td style="border: 1px solid black; background-color: #e3dfdf; ">
                            {{getMonthPeroformance(item.monthPerformance,selectedMonth)}}</td>
                        <td style="border: 1px solid black; "> <input class="form-control"
                                [value]="getMonthPeroformance2(item.monthPerformance,selectedMonth)"
                                [id]="selectedMonth" [min]="0"
                                (change)="onProgressAdded(item.id,months[selectedMonth],$event.target)" type="number" />
                        </td>
                        <td style="border: 1px solid black; background-color: #e3dfdf; ">
                            {{getMonthPeroformance3(item.monthPerformance,selectedMonth)}}</td>
                        <td style="border: 1px solid black; "> <input class="form-control"
                                [value]="getMonthPeroformance4(item.monthPerformance,selectedMonth)" type="number"
                                (change)="onProgressBudgetAdded(item.id,months[selectedMonth],$event.target)" [min]="0"
                                [id]="selectedMonth" /></td>


                    </ng-container>







                    <td style="border: 1px solid black;background: white; ">
                        <button class="btn btn-outline-primary" (click)="ViewProgress(item)"> <i class="bi bi-eye "></i>
                        </button>
                    </td>

                    <td style="border: 1px solid black;background: white; ">

                        <div>
                            <label>
                                <input type="checkbox" [checked]="item.isCancelled"
                                    (change)="changeActivityStatus(item.id,$event.target,null,null)">
                                <span style="color: red;font-weight: bolder;">Cancel</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" [checked]="item.isCompleted"
                                    (change)="changeActivityStatus(item.id,null,$event.target,null)">
                                <span style="color: green;font-weight: bolder;">Complete</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" [checked]="item.isStarted"
                                    (change)="changeActivityStatus(item.id,null,null,$event.target)">
                                <span style="color: rgb(164, 164, 14);font-weight: bolder;">InProgress</span>
                            </label>
                        </div>

                    </td>



                </tr>
            </ng-template>
        </p-table> -->

        <div #excelTable class="table-responsive card">
            <table class="table table-bordered mt-2 " id="myTable" style="table-layout: auto;">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2" resizable
                            style="border: 1px solid black;background-color: #00667d;color: white;">ID
                        </th>
                        <th scope="col" rowspan="2" resizable
                            style="border: 1px solid black;background-color: #00667d;color: white;">
                            Task/Activity</th>

                        <th scope="col" rowspan="2" resizable
                            style="border: 1px solid black;background-color: #00667d;color: white;">
                            Indicator
                        </th>

                        <th scope="col" *ngFor="let item of months" [colSpan]="4" resizable
                            style="border: 1px solid black;background-color: #00667d;color: white;"
                            [ngClass]="{'d-none': selectedMonth != 13}">
                            {{ item.label }}
                        </th>

                        <th scope="col" [colSpan]="4" *ngIf="selectedMonth != 13" resizable
                            style="border: 1px solid black;background-color: #00667d;color: white;">
                            {{ getMonthName() }}
                        </th>

                      
                        <th rowspan="2" style="border: 1px solid black;background-color: #00667d;color: white; width: 120px;;" resizable>
                            Action
                        </th>
                        <th rowspan="2" style="border: 1px solid black;background-color: #00667d;color: white; " resizable>
                            Progress
                        </th>


                    </tr>
                    <tr>
                        <ng-container *ngFor="let item of months">
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                                [ngClass]="{'d-none': selectedMonth != 13}">Target</th>
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                                [ngClass]="{'d-none': selectedMonth != 13}">Actual</th>
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                                [ngClass]="{'d-none': selectedMonth != 13}">Budget</th>
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;"
                                [ngClass]="{'d-none': selectedMonth != 13}">Used</th>
                        </ng-container>

                        <ng-container *ngIf="selectedMonth != 13">
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Target</th>
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Actual</th>
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Budget</th>
                            <th style="border: 1px solid black;background-color: #a3a1a1;color: white;">Used</th>
                        </ng-container>


                    </tr>





                </thead>

                <tbody class="labels">
                    <tr *ngFor="let item of filterdActivities" [ngStyle]="{
                        'background-color': item.isCancelled ? '#dc3545a1' : (item.isCompleted ? '#28a745a3' : (item.isStarted ? '#ffc10775' : '')),
                        'color': item.isCancelled||item.isCompleted?'white':''
                    }">


                        <td style="border: 1px solid black; "> {{item.activityNumber}}</td>
                        <td style="border: 1px solid black; ">{{item.name}}</td>
                        <td style="border: 1px solid black; ">{{item.unitOfMeasurment}}</td>


                        <ng-container *ngFor="let month of months">
                            <td [ngClass]="{'d-none': selectedMonth != 13}"
                                style="border: 1px solid black; background-color: #e3dfdf; ">
                                {{getMonthPeroformance(item.monthPerformance,month.value)}}</td>
                            <td [ngClass]="{'d-none': selectedMonth != 13}" style="border: 1px solid black; "> <input
                                    class="form-control"
                                    [value]="getMonthPeroformance2(item.monthPerformance,month.value)"
                                    [id]="month.label" [min]="0" (change)="onProgressAdded(item.id,month,$event.target)"
                                    type="number" /></td>
                            <td [ngClass]="{'d-none': selectedMonth != 13}"
                                style="border: 1px solid black; background-color: #e3dfdf; ">
                                {{getMonthPeroformance3(item.monthPerformance,month.value)}}</td>
                            <td [ngClass]="{'d-none': selectedMonth != 13}" style="border: 1px solid black; "> <input
                                    class="form-control"
                                    [value]="getMonthPeroformance4(item.monthPerformance,month.value)" type="number"
                                    (change)="onProgressBudgetAdded(item.id,month,$event.target)" [min]="0"
                                    [id]="month.label" /></td>


                        </ng-container>

                        <ng-container *ngIf="selectedMonth != 13">
                            <td style="border: 1px solid black; background-color: #e3dfdf; ">
                                {{getMonthPeroformance(item.monthPerformance,selectedMonth)}}</td>
                            <td style="border: 1px solid black; "> <input class="form-control"
                                    [value]="getMonthPeroformance2(item.monthPerformance,selectedMonth)"
                                    [id]="selectedMonth" [min]="0"
                                    (change)="onProgressAdded(item.id,months[selectedMonth],$event.target)"
                                    type="number" /></td>
                            <td style="border: 1px solid black; background-color: #e3dfdf; ">
                                {{getMonthPeroformance3(item.monthPerformance,selectedMonth)}}</td>
                            <td style="border: 1px solid black; "> <input class="form-control"
                                    [value]="getMonthPeroformance4(item.monthPerformance,selectedMonth)" type="number"
                                    (change)="onProgressBudgetAdded(item.id,months[selectedMonth],$event.target)"
                                    [min]="0" [id]="selectedMonth" /></td>


                        </ng-container>


                        <td style="border: 1px solid black;background: white; ">

                            <div>
                                <label>
                                    <input type="checkbox" [checked]="item.isCancelled"
                                        (change)="changeActivityStatus(item.id,$event.target,null,null)">
                                    <span style="color: red;font-weight: bolder;">Cancel</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" [checked]="item.isCompleted"
                                        (change)="changeActivityStatus(item.id,null,$event.target,null)">
                                    <span style="color: green;font-weight: bolder;">Complete</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" [checked]="item.isStarted"
                                        (change)="changeActivityStatus(item.id,null,null,$event.target)">
                                    <span style="color: rgb(164, 164, 14);font-weight: bolder;">InProgress</span>
                                </label>
                            </div>

                        </td>




                        <td style="border: 1px solid black;background: white; width: 20px;">
                            <button class="btn btn-outline-primary" (click)="ViewProgress(item)"> <i
                                    class="bi bi-eye "></i>
                            </button>
                        </td>

               



                    </tr>
                </tbody>


            </table>
        </div> 
    </section>
</main>





<!-- <p-table #dt [value]="Activties" dataKey="id" [tableStyle]="{'min-width': '60rem'}" [rows]="10" [paginator]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
	    [globalFilterFields]="['name','activityNumber','plannedBudget','activityType']">>
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Assigned Activities</h5>
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #inputField (input)="dt.filterGlobal(inputField.value, 'contains')" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              
                    <th pSortableColumn="activityNumber">Activity Number <p-sortIcon field="activityNumber"></p-sortIcon></th>
                    <th pSortableColumn="plannedBudget">Planned Budget <p-sortIcon field="plannedBudget"></p-sortIcon></th>
                   
                    <th pSortableColumn="activityType">Activity Type <p-sortIcon field="activityType"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-actView let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="actView" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{actView.name}}</td>
                   
                    <td>{{actView.plannedBudget}} ETB</td>
                
                    <td>{{actView.activityType}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-actView>
                <tr>
                    <td colspan="7">
                        <div class="p-3">
                            <app-view-activties  [actView]="actView"></app-view-activties>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table> -->