<main id="main" class="main">
    <div class="pagetitle">
      <h1>Plan</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    
    <section class="section dashboard">
      <div class="row">
        <div class="col-12">
          <div class="card p-2">
            <div class="d-flex justify-content-start gap-4 flex-wrap">
              <div class="form-floating col-3">
                <select class="form-control" [(ngModel)]="selectedYear" (change)="afterSelectedYear()">
                  <option *ngFor="let item of yearOptions" [value]="item.value">{{item.label}}</option>
                </select>
                <label for="projects">Year</label>
              </div>

              <div class="form-floating col-3">
                <select class="form-control" [(ngModel)]="selectedStrategicPeriod" (change)="onStrategicPeriodChange()" id="StrategicPeriodId">
                  <option value="ALL">All Strategic Periods</option>
                  <option *ngFor="let period of strategicPeriods" [value]="period.id">
                    {{period.name}} ({{period.startDate | date:'yyyy'}} - {{period.endDate | date:'yyyy'}})
                  </option>
                </select>
                <label for="StrategicPeriodId">Strategic Period</label>
              </div>
  
              <div class="form-floating col-3">
                <select class="form-control" [(ngModel)]="selectedProject" (change)="onProjectChange()">
                  <option *ngFor="let item of Plans" [value]="item.id">{{item.planName}}</option>
                </select>
                <label for="projects">Projects</label>
              </div>
  
              <div class="form-floating col-3 me-2">
                <select class="form-control" [(ngModel)]="selectedStrategicPlan" (change)="filterStrategicPlans()" id="StrategicPlanId">
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of strategicPlans" [value]="item.id">{{item.name}}</option>
                </select>
                <label for="StrategicPlanId">Strategic Plan</label>
              </div>
  
              <div class="d-flex gap-3 flex-wrap">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="activityStatus" [(ngModel)]="activityStatusCheckBox">
                  <label class="form-check-label" for="activityStatus">Activity Status</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="budgetUtilization" [(ngModel)]="budgetCheckeBox">
                  <label class="form-check-label" for="budgetUtilization">Budget Utilization Rate</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="accomplishmentRate" [(ngModel)]="accomplitiomentCheckBox">
                  <label class="form-check-label" for="accomplishmentRate">Accomplishment Rate</label>
                </div>
                <div class="form-check" *ngIf="barChartData && barChartData.planName === 'ALL'">
                  <input type="checkbox" class="form-check-input" id="overallProgress" [(ngModel)]="overAllProgress">
                  <label class="form-check-label" for="overallProgress">Overall Progress</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedStrategicPlan !== 'ALL'">
        <div class="row flex-wrap" *ngIf="(selectedProject || selectedStrategicPlan) && activityStatusCheckBox">
          <div *ngFor="let chartItem of pieChartOptions2; let i = index" [ngClass]="{'col-md-3': budgetCheckeBox || accomplitiomentCheckBox, 'col-md-12': !budgetCheckeBox && !accomplitiomentCheckBox}">
            <div class="card">
              <div class="chart-title d-flex justify-content-between align-items-center">
                <h2 class="chart-title-text">{{ barChartData?.planName }} ( Quarter {{chartItem.quarter}} )</h2>
              </div>
              <div echarts [options]="chartItem.option" [style]="{ height: '300px', width: '100%' }"></div>
            </div>
          </div>
  
          <div [ngClass]="{'col-md-6': activityStatusCheckBox, 'col-md-12': !activityStatusCheckBox}" *ngIf="barChartData && bar2ChartOption && budgetCheckeBox">
            <div class="card">
              <div class="chart-title" style="padding: 20px;">
                <h2 class="chart-title-text">{{ barChartData?.planName }}</h2>
              </div>
              <div echarts [options]="bar2ChartOption"></div>
            </div>
          </div>
  
          <div class="col-md-6" *ngIf="barChartData && barChartOption && accomplitiomentCheckBox">
            <div class="card">
              <div class="chart-title" style="padding: 20px;">
                <h2 class="chart-title-text">{{ barChartData?.planName }}</h2>
              </div>
              <div echarts [options]="barChartOption"></div>
            </div>
          </div>
        </div>
  
        <div class="row" *ngIf="!overAllProgress && barChartData?.planName === 'ALL'">
          <div *ngFor="let item of Plans" class="col-md-12" [ngStyle]="{'display': item.planName !== 'ALL' ? 'block' : 'none'}">
            <div *ngIf="pieChartOption && activityStatusCheckBox">
              <div class="row">
                <div class="card col-md-3" *ngFor="let option of getPieChatData2(item.id); let i = index">
                  <div class="chart-title">
                    <h2 class="chart-title-text">{{ item.planName }} Quarter {{i + 1}}</h2>
                  </div>
                  <div *ngIf="pieChartOption" echarts [options]="option"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row" *ngIf="!overAllProgress && barChartData?.planName === 'ALL'">
          <div *ngFor="let item of Plans" class="col-md-6" [ngStyle]="{'display': item.planName !== 'ALL' ? 'block' : 'none'}">
            <div class="card" *ngIf="barChartData && bar2ChartOption && budgetCheckeBox">
              <div class="chart-title">
                <h2 class="chart-title-text">{{ item.planName }}</h2>
              </div>
              <div echarts [options]="getBarChatOption2(item.id)"></div>
            </div>
          </div>
        </div>
  
        <div class="row" *ngIf="!overAllProgress && barChartData?.planName === 'ALL'">
          <div *ngFor="let item of Plans" class="col-md-6" [ngStyle]="{'display': item.planName !== 'ALL' ? 'block' : 'none'}">
            <div class="card" *ngIf="barChartData && barChartOption && accomplitiomentCheckBox">
              <div class="chart-title">
                <h2 class="chart-title-text">{{ item.planName }}</h2>
              </div>
              <div echarts [options]="getBarChatOption(item.id)"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedStrategicPlan === 'ALL'">
        <div class="row">
          <div class="card" *ngIf="progressOption">
            <div class="chart-title">
              <h2 class="chart-title-text">All Strategic Plan Utilized vs Planned Progress</h2>
            </div>
            <div echarts [options]="progressOption"></div>
          </div>
          <div class="card" *ngIf="budgetOption">
            <div class="chart-title">
              <h2 class="chart-title-text">All Strategic Plan Utilized vs Planned Budget</h2>
            </div>
            <div echarts [options]="budgetOption"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  