<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Employee File </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee File Detail </h5>
            <div class="row">
                <div class="col-lg-12">
                    <form class="" [formGroup]="FileForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">


                                <div class="col-md-6">
                                    <div class="form-floating"> <input type="text" class="form-control" id="fileName"
                                            placeholder="fileName" required formControlName="fileName">
                                        <label for="fileName"> File Name</label>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-floating">


                                        <input type="file" class="form-control" (change)="onUpload($event)" id="file">
                                        <a [href]="createImagePath(this.employeeFile.filePath)" target="_blank"
                                            class="btn btn-outline-primary">View Old File</a>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                                (click)="closeModal()">Close</button> <button type="button" type="submit"
                                [disabled]="!FileForm.valid" class="btn btn-outline-warning">Update
                            </button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>