<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Request Resignation</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resignation Detail</h5>
            <div class="row">
                <div class="col-lg-12">
                    <form class="" [formGroup]="resignationtForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" class="form-control"  id="resignationDate" placeholder="resignationDate"
                                            formControlName="resignationDate">
                                        <label for="resignationDate">Resignation Date</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="file" class="form-control" (change)="onUpload($event)" id="file"  accept="application/pdf"/>
                                       
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" formControlName="reasonForResignation"
                                            placeholder="reasonForResignation" id="reasonForResignation"
                                            style="height: 120px;"></textarea><label for="reasonForResignation">
                                                Reason For Resignation
                                            </label>
                                    </div>
                                </div>                                                         
                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                            (click)="closeModal()">Close</button>
                        <button type="button" type="submit"  [disabled]="!resignationtForm.valid"
                            class="btn btn-outline-primary">Request</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>