<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">

                <span>Educational Field</span>
            </ng-template>
            <app-educational-field />
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">

                <span>Educational Level</span>
            </ng-template>
            <app-educational-level />
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <span>General Codes </span>
            </ng-template>
           <app-general-codes/>
        </p-tabPanel>
    </p-tabView>
</div>