<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Training</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <form [formGroup]="trainingForm" (ngSubmit)="submit()" >
        <div class="card-body">
            <h5 class="card-title">Training Detail</h5>
            <hr />

            <div class="row mt-2">

                

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" formControlName="Title" class="form-control" id="Title"
                            placeholder="Title">
                        <label for="Title">Title </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" formControlName="CourseVenue" class="form-control" id="CourseVenue"
                            placeholder="CourseVenue">
                        <label for="CourseVenue">Course Venue </label>
                    </div>
                </div>

            </div>

  
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="text" formControlName="allocatedCeu" class="form-control" id="StartDate"
                            placeholder="StartDate">
                        <label for="StartDate">CEU</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="date" formControlName="StartDate" class="form-control" id="StartDate"
                            placeholder="StartDate">
                        <label for="StartDate">Start Date</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="date" formControlName="EndDate" class="form-control" id="EndDate"
                            placeholder="EndDate">
                        <label for="EndDate">End Date</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer"> 
                     
            <button type="button"  class="btn btn-outline-secondary" (click)="closeModal()"> Close</button>
            <button type="button" type="submit" [disabled]="!trainingForm.valid"   class="btn btn-outline-primary">Create</button>

        </div>
    </form>
    </div>
</div>