<div class="card-body ">
    <div class="col-lg-12 text-end p-2">
        <button type="button" class="btn btn-outline-success" (click)="addMeterSize()"><i class="pi pi-plus me-1" 
                style="font-size: 12px;"></i>
            Meter Size</button>
    </div>


    <table class="custom-table">
        <thead>
            <tr>
              
                <th>Record Number</th>
                <th>Meter Size Code</th>
                <th>Meter Size Name </th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedMeterSize;let i = index">
               
                <td>{{item.recordno}}</td>
                <td>{{item.meterSizeCode}}</td>
                <td>{{item.meterSizeName}}</td>
                <td>
                    <button type="button" 
                    (click)="updateMeterSize(item)"
                    
                    class="btn btn-outline-warning btn-sm"><i class="ti ti-pencil"></i></button> |
                    <button type="button" 
                    (click)="removeMeterSize(item.recordno)"
                    class="btn btn-outline-danger btn-sm"><i class="ti ti-trash"></i></button>


                </td>

            </tr>
        
        </tbody>
    </table>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" 
        [totalRecords]="meterSizes&&meterSizes.length" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
    </div>
</div>