<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{billEmpDuties?"Update":"Add"}} Meter Size Rent</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form class="" [formGroup]="billEmpDutiesForm" (ngSubmit)="billEmpDuties?update():submit()">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-control"   formControlName="empID" id="floatingInput">

                                <option *ngFor="let item of billOfficers" [value]="item.empID">
                                    {{item.empID}} {{item.name}}</option>
                            </select>
                            <label for="floatingInput">Employee</label>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-floating mb-3">
                            <!-- <label>Select Rent Goup <Code></Code></label> -->
                            <select class="form-control" formControlName="duties" id="floatingInput">

                                <option value="Bill Officer">Bill Officer</option>
                                <option value="Online Sales Officer">Online Sales Officer</option>
                                <option value="Bill Collector">Bill Collector</option>
                                <option value="Meter Reader">Meter Reader</option>
                            </select>
                            <label for="floatingInput">Duty</label>
                        </div>
                    </div>
                 </div>

                <div class="modal-footer"> <button type="button" class="btn btn-outline-secondary"
                        (click)="closeModal()">Close</button> <button type="button" type="submit"
                        [disabled]="!billEmpDutiesForm.valid"
                        class="btn btn-outline-success">{{billEmpDuties?"Update":"Create"}}</button>
                </div>
            </form>
        </div>
    </div>

</div>