<div class="card">
    <div class="row p-2">
        <div class="col-lg-12 text-end ">
            <button type="button" class="btn btn-outline-primary" (click)="addNew()"><i class="bi bi-plus me-1"></i>
                Add Ledger Account</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ledger Accounts</h5>

                    <p-table [value]="ledger" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[5, 25, 50]" styleClass="p-datatable-sm">

                        <ng-template pTemplate="header">
                            <tr>
                                <th>Journal Option</th>
                                <th>Chart of Account</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ledgers>
                            <tr>
                                <td>{{ledgers.journalOption }}</td>
                                <td>{{ledgers.chartOfAccount}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>