<div class="m-header">
  <!-- [ Header Topbar ] start -->
  <a [routerLink]="['/default/']" class="b-brand">
    <!-- ========   change your logo hear   ============ -->
    <!-- <img src="assets/logoo.png" alt="" height="40px" class="logo logo-lg" /> -->
    <img src="assets/logo2.png" alt="" height="70px" class=" logo-lg logo-size " style="margin-right: 10px;"  title="logo"/>
    <span class="text-center" style="font-size: 18px;color:#6d42b9">EMwA Membership</span>
   
  </a>
 
  <!-- ======= Menu collapse Icon ===== -->
  <div class="pc-h-item">
    <a
      href="javascript:"
      class="pc-head-link head-link-secondary m-0 mobile-menu"
      [ngClass]="{ on: navCollapsed }"
      id="sidebar-hide mobile-collapse"
      (click)="navCollapse()"
    >
      <i class="ti ti-menu-2"></i>
    </a>
  </div>
</div>
<!-- [ Header ] end -->
