
<div class="row" #componentToPrint>
  <!-- [ sample-page ] start -->


  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{filterdMembers&&filterdMembers.length}} <i
            class="ti ti-users opacity-50"></i></span>
        <p class="mb-0 opacity-50">Total Members</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-danger dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{pendingNumbers}} <i
            class="ti ti-users opacity-50"></i></span>
        <p class="mb-0 opacity-50">Pending Members</p>
      </div>
    </div>
  </div>


  <div class="col-xl-3 col-md-12">

    <div class="card bg-primary-dark dashnum-card dashnum-card-small text-white overflow-hidden">
      <span class="round bg-primary small"></span>
      <span class="round bg-primary big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar">
            <i class="text-white ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white mb-1">ETB {{revenue}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Revenue</p>
          </div>
        </div>
      </div>
    </div>


    <div class="form-floating mb-3">
      <select class="form-control" [(ngModel)]="selectedChapter" (change)="applyFilter()">
        <option value="all">ALL</option>
        <option *ngFor="let item of chapters" [value]="item.name">
          {{item.name}}
        </option>
      </select>
      <label for="chapter">Chapter</label>
    </div>

  </div>
  <div class="col-xl-3 col-md-12">

    <div class="card bg-light-dangerdashnum-card dashnum-card-small overflow-hidden">
      <span class="round bg-warning small"></span>
      <span class="round bg-warning big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-light-warning">
            <i class="text-warning ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="mb-1">ETB {{recivable}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Reciveable</p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <select class="form-control" [(ngModel)]="selectPaymentStatus" (change)="applyFilter()">
        <option value="all">ALL</option>
        <option value="PENDING">PENDING</option>
        <option value="PAID">PAID</option>
        <option value="EXPIRED">EXPIRED</option>
      </select>
      <label for="paymentStatus">Payment Status</label>
    </div>


  </div>

  <h2 class="chart-title-text">SEARCH RESULT : {{selectedChapter.toUpperCase()}}  {{selectPaymentStatus!='all'? ' - '+selectPaymentStatus:''}}</h2>
  <div class="col-xl-4 col-md-12 p-2">
  
    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Gender</h2>
      </div>
      <div echarts [options]="chartOptions2" [loading]="loading2" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-xl-8 col-md-12 p-2">

    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Membership Type</h2>
      </div>
      <div echarts [options]="chartOptions3" [loading]="loading3" class="demo-chart"></div>
    </div>

  </div>
  <div class="col-xl-8 col-md-12  card">
    <div class="chart-title">
      <h2 class="chart-title-text">Total Growth</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3 align-items-center">
        <div class="col">
          <small>Total Growth</small>
          <h3>ETB {{revenue}}</h3>
        </div>
        <div class="col-auto">
          <select class="form-select" #year (change)="generate(year.value)">
            <option [value]="currentYear-2">{{currentYear-2}}</option>
            <option [value]="currentYear-1">{{currentYear-1}}</option>
            <option selected  [value]="currentYear">This Year</option>
          </select>
        </div>
      </div>
     
      
        <div echarts [options]="chartOptions4" [loading]="loading" class="demo-chart"></div>
     
    </div>

  </div>
  <div class="col-xl-4 col-md-12 p-2">
    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Payment Status</h2>
      </div>

      <div echarts [options]="chartOptions" [loading]="loading" class="demo-chart"></div>

    </div>
  </div>


</div>