<div class="row" #componentToPrint>
  <!-- [ sample-page ] start -->


  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{dashboardNumericalDTo&&dashboardNumericalDTo.totalMembers}}
          <i class="ti ti-users opacity-50"></i></span>
        <p class="mb-0 opacity-50">Total Members</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-danger dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
        </div>
        <span
          class="text-white d-block fs-1 fw-bold my-2">{{dashboardNumericalDTo&&dashboardNumericalDTo.pendingMembers}}
          <i class="ti ti-users opacity-50"></i></span>
        <p class="mb-0 opacity-50">Pending Members</p>
      </div>
    </div>
  </div>


  <div class="col-xl-3 col-md-12">

    <div class="card bg-primary-dark dashnum-card dashnum-card-small text-white overflow-hidden">
      <span class="round bg-primary small"></span>
      <span class="round bg-primary big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar">
            <i class="text-white ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white mb-1">
              ETB {{ isVisible ? dashboardNumericalDTo&&dashboardNumericalDTo.revenue : hideRevenue() }}

              <i class="ti" style="font-size: 24px;"
                [ngClass]="{'ti-eye  fs-24': !isVisible, 'ti-eye-off opacity-50 fs-24': isVisible}"
                (click)="toggleVisibility()"></i>
            </h4>
            <p class="mb-0 opacity-50 text-sm">Revenue</p>
          </div>
        </div>
      </div>
    </div>


    <div class="form-floating mb-3">
      <select class="form-control" [(ngModel)]="selectedChapter" [disabled]="userView.regionId!=''"
        (change)="applyFilter()">
        <option value="all">ALL</option>
        <option *ngFor="let item of chapters" [value]="item.id">
          {{item.name}}
        </option>
      </select>
      <label for="chapter">Chapter</label>
    </div>

  </div>
  <div class="col-xl-3 col-md-12">

    <div class="card bg-light-dangerdashnum-card dashnum-card-small overflow-hidden">
      <span class="round bg-warning small"></span>
      <span class="round bg-warning big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-light-warning">
            <i class="text-warning ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="mb-1">

              ETB {{ isVisible2 ? dashboardNumericalDTo&&dashboardNumericalDTo.receivable : hideReciveable() }}

              <i class="ti" style="font-size: 24px;"
                [ngClass]="{'ti-eye  fs-24': !isVisible2, 'ti-eye-off opacity-50 fs-24': isVisible2}"
                (click)="toggleVisibility2()"></i>

            </h4>


            <p class="mb-0 opacity-50 text-sm">Reciveable</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <div class="form-floating mb-3">
          <select class="form-control" [(ngModel)]="selectPaymentStatus" (change)="applyFilter()">
            <option value="all">ALL</option>
            <option value="PENDING">PENDING</option>
            <option value="PAID">PAID</option>
            <option value="EXPIRED">EXPIRED</option>
          </select>
          <label for="paymentStatus">Payment Status</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-floating mb-3">
          <select class="form-control" [(ngModel)]="selectedGender" (change)="applyFilter()">
            <option value="all">ALL</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
          </select>
          <label for="paymentStatus">Gender</label>
        </div>
      </div>
    </div>






  </div>

  <h2 *ngIf="selectedChapter!='all'||selectPaymentStatus!='all'||selectedGender!='all'" class="chart-title-text">SEARCH
    RESULT : {{ (selectedChapter!='all'&&chapters) ? getName():''}} {{selectPaymentStatus!='all'? ' -
    '+selectPaymentStatus:''}}

    {{selectedGender!='all'? ' -' +selectedGender:''}}
  </h2>
  <div class="col-xl-5 col-md-12 p-2">

    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Gender</h2>
      </div>
      <div echarts [options]="chartOptions2" [loading]="loading2" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-xl-7 col-md-12 p-2">

    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Membership Type</h2>
      </div>
      <div echarts [options]="chartOptions3" [loading]="loading3" class="demo-chart"></div>
    </div>

  </div>
  <div class="col-xl-7 col-md-12  card">
    <div class="chart-title">
      <h2 class="chart-title-text">Total Growth</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3 align-items-center">
        <div class="col-auto">

          <select class="form-select" [(ngModel)]='selectedReport'>
            <option value="yearly">YEARLY</option>
            <option value="quarterly">QUARTERLY</option>
            <option value="monthly">MONTHLY</option>

          </select>

        </div>

        <div class="col-auto" *ngIf="selectedReport=='monthly'||selectedReport=='quarterly'">
          <select class="form-select" #year
            (change)="selectedReport=='monthly'? generate(year.value):generateQuarter(year.value)">
            <option *ngFor=" let item of yearOptions" [value]="item.value">{{item.label}}</option>

          </select>
        </div>
      </div>


      <div *ngIf="selectedReport==='monthly'" echarts [options]="chartOptions4" [loading]="loading" class="demo-chart">
      </div>

      <div *ngIf="selectedReport==='yearly'" echarts [options]="chartOptions5" [loading]="loading" class="demo-chart">
      </div>

      <div *ngIf="selectedReport==='quarterly'" echarts [options]="chartOptions7" [loading]="loading"
        class="demo-chart">
      </div>

    </div>

  </div>
  <div class="col-xl-5 col-md-12 p-2">
    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Payment Status</h2>
      </div>

      <div echarts [options]="chartOptions" [loading]="loading" class="demo-chart"></div>

    </div>
  </div>


  <div class="col-xl-12 col-md-12 p-4">
    <div class="card">
      <div class="chart-title">
        <h2 class="chart-title-text">Member Count by Chapter</h2>
      </div>
      <div echarts [options]="chartOptions6" [loading]="loading" class="demo-chart">
      </div>
    </div>
  </div>