
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Project Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">PM</li>
                <li class="breadcrumb-item active">Strategic Directions</li>

            </ol>
        </nav>
    </div>
    <section class="section">
<div class="card">
    <div class="row p-2">
        <div class="col-lg-6">
            <div class="form-floating">
                <select class="form-select" [(ngModel)]="selectedPeriodId" (change)="onPeriodFilterChange()" id="periodFilter">
                    <option value="ALL">All Strategic Periods</option>
                    <option *ngFor="let period of strategicPeriods" [value]="period.id">
                        {{period.name}} ({{period.startDate | date:'yyyy'}} - {{period.endDate | date:'yyyy'}})
                    </option>
                </select>
                <label for="periodFilter">Filter by Strategic Period</label>
            </div>
        </div>
        <div class="col-lg-6 text-end">
            <button type="button" class="btn btn-outline-primary" (click)="addStrategicPlan()"><i class="bi bi-plus me-1"></i>
                Strategic Direction</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Strategic Directions</h5>

                    <p-table
                    [value]="filteredStrategicPlans"
                    [paginator]="true"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5, 25, 50]"
                    styleClass="p-datatable-sm"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th >Name</th>
                            <th >Description</th>
                            <th >Strategic Period</th>
                            <th>Action</th>
                            
                          
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-plan>
                        <tr>
                            <td>{{ plan.name }}</td>
                            <td>{{ plan.description }}</td>
                            <td>{{ plan.strategicPeriodName || 'N/A' }}</td>
                            <td>
                                <button type="button" (click)="updateStrategicPlan(plan)" class="btn btn-outline-warning"><i
                                        class="bi bi-pencil "></i> </button>
                                &nbsp;
                                <button type="button" (click)="deleteStrategicPlan(plan.id)" class="btn btn-outline-danger"><i
                                        class="bi bi-trash "></i> </button>
                            </td>
                        
                        </tr>
                    </ng-template>
                   
                   
                </p-table>
          
                  
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</main>
